build/bonus.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Главная | Серебрица</title>
    <link rel="icon" type="image/png" href="/img/favicon.png" sizes="32x32">
    <link href="css/vendor.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body class="body">
    <div class="container _header">
      <header class="header _login">
        <div class="header__part"><a class="burger" href="#" data-menu-toggle></a><a class="logo-header" href=""></a>
          <nav class="header-nav"><a class="header-nav__item _active" href="">Об Urban Share</a><a class="header-nav__item" href="">Получить скидки</a><a class="header-nav__item" href="">Заработать</a></nav>
        </div>
        <div class="header__part">
          <div class="header-cabinet"><a class="phone" href="tel:+74951627740" title="+7 (495) 162-77-40">+7 (495) 162-77-40</a>
            <div class="header-log">
              <div class="header-logout"><a class="header-logout__link" href="" data-notification="8">Константин Иванович</a></div>
            </div><a class="login-btn _logout" href="">Выйти</a>
          </div><a class="logo-urban-group" href=""></a>
        </div>
      </header>
    </div>
    <nav class="mobile-menu">
      <div class="mobile-menu__inner"><em class="mobile-menu__close" data-menu-close></em>
        <div class="mobile-menu__block">
          <div class="mobile-nav"><a class="mobile-nav__link" href="">Об  Urban Share</a><a class="mobile-nav__link" href="">Получить скидки</a><a class="mobile-nav__link" href="">Заработать</a></div>
        </div>
        <div class="mobile-menu__block"><a class="mobile-menu__cabinet header-logout__link" href="" data-notification="8">Личный кабинет</a></div>
        <div class="mobile-menu__block"><a class="phone" href="tel:+74951627740">+7 (495) 162-77-40</a></div>
        <div class="mobile-menu__block"><a class="btn _full" href="">Зарегистрироваться</a></div>
      </div>
    </nav>
    <div class="content">
      <div class="page-header _bonus" style="background-image: url('img/background/bg-image_2.jpg');">
        <div class="container">
          <div class="inner">
            <div class="page-header__inner">
              <div class="page-header__block">
                <div class="logo-white"></div>
              </div>
              <div class="page-header__block">
                <h1>Начни зарабатывать вместе с Urban Share</h1>
                <p>Рекомендуйте жилье от Urban Group<br> и получайте % с продаж.</p>
              </div>
              <div class="page-header__block"><a class="btn _full" href="#form-register" data-modal>ПРИСОЕДЕНИТЬСЯ</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="inner">
          <section class="section _white">
            <h3>Открой бизнес-возможности с Urban Share</h3>
            <div class="tlt-descr">Делится впечатлениями от встречи с URBAN GROUP<br> и зарабатывать вознаграждения!</div>
            <div class="info-block">
              <div class="info-block__tlt">Как это работает</div>
              <div class="tripple">
                <div class="tripple__block">
                  <div class="tripple__icon _register"></div>
                  <div class="tripple__tlt">Зарегистрируйтесь<br><a href="">в личном кабинете<br></a>за 20 секунд</div>
                </div>
                <div class="tripple__block">
                  <div class="tripple__icon _share"></div>
                  <div class="tripple__tlt">Рекомендуйте Urban Group<br> друзьям и знакомым, добавив их контакты в личный кабинет</div>
                </div>
                <div class="tripple__block">
                  <div class="tripple__icon _money"></div>
                  <div class="tripple__tlt">Получайте бонусные баллы с каждой сделки и обменивайте их на деньги</div>
                </div>
              </div>
              <div class="center"><a class="btn _full" href="">Зарегистрироваться</a></div>
            </div>
          </section>
          <section class="section _banner">
            <div class="banner _large">
              <div class="banner__tlt">4 успешных<br> рекомендации ≈</div>
              <div class="banner__bonus">100 000<span> ₽</span></div>
            </div>
          </section>
          <section class="section">
            <h2>Калькулятор вашей выгоды</h2>
            <div class="tlt-descr">Узнайте, сколько вы получите бонусов</div>
            <div class="calculator">
              <div class="calculator__tlt">1 %<span> от каждой сделки</span></div>
              <div class="calculator__inner">
                <header class="calculator-header">
                  <div class="calculator-header__tlt">Стоимость квартиры вашего друга/знакомого</div>
                  <div class="calculator-slider">
                    <label class="calculator-slider__lbl" data-label="Стоимость квартиры">
                      <div class="calculator-slider__inpt-wrap" data-descr="₽">
                        <input class="calculator-slider__inpt" id="calculator-input" value="10 800 000" type="text">
                      </div>
                    </label>
                    <div class="slider-range" id="calculator-range" data-ui-slider data-step="10" data-max-range="30000000" data-min-range="0"></div>
                  </div>
                </header>
                <div class="calculator-table">
                  <header class="calculator-table__header">
                    <div class="calculator-table__row">
                      <div class="calculator-table__col">Способ использования<br> (на выбор)</div>
                      <div class="calculator-table__col">Бонусы<br> для участников</div>
                    </div>
                  </header>
                  <div class="calculator-table__body">
                    <div class="calculator-table__row">
                      <div class="calculator-table__col">Покупка машиноместа</div>
                      <div class="calculator-table__col"><span data-bonus="1.5">162 000</span> ₽
                      </div>
                    </div>
                    <div class="calculator-table__row">
                      <div class="calculator-table__col">Покупка кладовки</div>
                      <div class="calculator-table__col"><span data-bonus="1.2">129 600</span> ₽
                      </div>
                    </div>
                    <div class="calculator-table__row">
                      <div class="calculator-table__col">Покупка квартиры</div>
                      <div class="calculator-table__col"><span data-bonus="1.1">118 800</span> ₽
                      </div>
                    </div>
                    <div class="calculator-table__row">
                      <div class="calculator-table__col">Денежная компенсация</div>
                      <div class="calculator-table__col"><span data-bonus="0.9">97 200</span> ₽
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="section _double">
            <div class="section__inner">
              <div class="contact-block _callback">
                <div class="contact-block__tlt">Остались вопросы?<span>Получить персональную консультацию</span></div>
                <div class="contact-block__btn"><a class="btn _full" href="">Заказать звонок</a></div>
              </div>
            </div>
            <div class="section__inner">
              <div class="contact-block _register">
                <div class="contact-block__tlt">Хотите попробовать прямо сейчас?</div>
                <div class="contact-block__btn"><a class="btn _full" href="">Зарегистрироваться</a></div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="inner">
          <div class="footer__back" data-arr-up></div>
          <div class="footer-top"><a class="logo-footer" href=""></a>
            <nav class="footer-nav"><a class="footer-nav__item" href="">Об Urban Share</a><a class="footer-nav__item" href="">Получить скидки</a><a class="footer-nav__item" href="">Заработать</a><a class="footer-nav__item _pdf" href="">
                <div class="icon"><img src="img/pdf.svg" alt=""></div><span>Правила Участия в Urban Share</span></a></nav>
            <div class="footer-soc"><a class="footer-soc__item _vk" href=""></a><a class="footer-soc__item _fb" href=""></a></div>
          </div>
          <div class="footer-bottom">
            <div class="footer-bottom__block">
              <p><a href="">Политика</a> и <a href="">соглашение</a> на обработку персональных данных.
              </p>
              <p>Материалы на данном сайте носят информационный характер и не являются публичной офертой, определяемой положениями статьи 437 Гражданского кодекса РФ.</p>
            </div>
            <div class="footer-bottom__block">
              <p>© Urban Group, 2017</p>
              <p><a class="logo-gray" href=""></a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div style="display: none;">
      <div class="popup-form" id="form-register">
        <div class="popup-form__tlt">Регистрация</div>
        <form class="form" action="">
          <div class="form__step">
            <input class="form__inp" type="text" name="register_sec-name" placeholder="Фамилия" required>
          </div>
          <div class="form__step">
            <input class="form__inp" type="text" name="register_name" placeholder="Имя" required>
          </div>
          <div class="form__step">
            <input class="form__inp" type="text" name="register_third-name" placeholder="Отчество">
          </div>
          <div class="form__step">
            <input class="form__inp" type="text" name="register_address" placeholder="Адрес">
          </div>
          <div class="form__step">
            <input class="form__inp" type="tel" name="register_phone" placeholder="Телефон" required data-phone>
          </div>
          <div class="form__step">
            <input class="form__inp" type="email" name="register_email" placeholder="Электронная почта" required>
          </div>
          <div class="form__step">
            <label class="agreement">
              <input type="checkbox" name="register_agreement" checked required><span>Я согласен(на) и принимаю <a href="">правила участия в Urban Share.</a> Ознакомлен с <a href="">Политикой и соглашением</a> на обработку персональных данных.</span>
            </label>
          </div>
          <div class="form__step">
            <input class="btn _full" type="submit" value="Зарегистрироваться">
          </div>
        </form>
      </div>
      <div class="popup-form" id="form-partner">
        <div class="popup-form__tlt">Заявка на партнерство</div>
        <form class="form" action="">
          <div class="form__step">
            <input class="form__inp" type="text" name="partner_company" placeholder="Наименование компании" required>
          </div>
          <div class="form__step">
            <input class="form__inp" type="text" name="partner_site" placeholder="Ссылка на сайт компании" required>
          </div>
          <div class="form__step">
            <select data-custom-select>
              <option value="0" disabled selected>Тип товара или услуг</option>
              <option value="product_type[0]">Услуги</option>
              <option value="product_type[1]">Одежда и обувь</option>
              <option value="product_type[2]">Мебель и ремонт</option>
              <option value="product_type[3]">Детские товары</option>
              <option value="product_type[4]">Здоровье и красота</option>
              <option value="product_type[5]">Мебель и ремонт</option>
            </select>
          </div>
          <div class="form__step">
            <input class="form__inp" type="text" name="partner_company" placeholder="Адрес">
          </div>
          <div class="form__step">
            <input class="form__inp" type="tel" name="partner_phone" placeholder="Телефон" required data-phone>
          </div>
          <div class="form__step">
            <input class="form__inp" type="email" name="partner_email" placeholder="Электронная почта" required>
          </div>
          <div class="form__step">
            <label class="agreement">
              <input type="checkbox" name="partner_agreement" checked required><span>Я согласен(на) и принимаю <a href="">правила участия в Urban Share.</a> Ознакомлен с <a href="">Политикой и соглашением</a> на обработку персональных данных.</span>
            </label>
          </div>
          <div class="form__step">
            <input class="btn _full" type="submit" value="Отправить заявку">
          </div>
        </form>
      </div>
      <div class="popup-form" id="form-cabinet-enter">
        <div class="popup-form__tlt">Вход в личный кабинет</div>
        <form class="form" action="">
          <div class="form__step">
            <textarea class="form__txtarea" name="partner_company" data-placeholder placeholder="Электронная почта 
или номер мобильного телефона" required></textarea>
          </div>
          <div class="form__step">
            <input class="form__inp" type="password" name="partner_site" placeholder="Пароль" required>
          </div>
          <div class="form__step">
            <input class="btn _full" type="submit" value="Войти">
            <div class="center"><a href="">Забыли пароль?</a></div>
          </div>
        </form>
      </div>
      <div class="popup-form" id="form-call-order">
        <div class="popup-form__tlt">Заказать звонок</div>
        <form class="form" action="">
          <div class="form__step">
            <input class="form__inp" type="tel" name="order_phone" placeholder="Телефон" required data-phone>
          </div>
          <div class="form__step">
            <label class="agreement">
              <input type="checkbox" name="partner_agreement" checked required><span>Я согласен(на) и принимаю <a href="">правила участия в Urban Share.</a> Ознакомлен с <a href="">Политикой и соглашением</a> на обработку персональных данных.</span>
            </label>
          </div>
          <div class="form__step">
            <input class="btn _full" type="submit" value="Позвоните мне">
          </div>
        </form>
      </div>
      <div class="popup-form" id="form-pass-remind">
        <div class="popup-form__tlt">Восстановление пароля</div>
        <form class="form" action="">
          <div class="form__step">
            <textarea class="form__txtarea" name="partner_company" data-placeholder placeholder="Электронная почта 
или номер мобильного телефона" required></textarea>
          </div>
          <div class="form__step">
            <input class="btn _full" type="submit" value="Позвоните мне">
          </div>
        </form>
      </div>
      <div class="popup-form _cards" id="cards-available">
        <div class="popup-cards">
          <div class="popup-cards__current">Ваша карта: «Классическая»</div>
          <div class="popup-cards__tlt">Как получить дополнительные привилегии и скидки:</div>
          <div class="popup-cards-list">
            <div class="popup-cards-list__item popup-card">
              <div class="popup-card__part">
                <div class="popup-card__tlt">Серебряная карта</div>
                <div class="popup-card__type-mob">
                  <div class="discount _authed _silver"><span class="discount__inner">до 15 %</span></div>
                </div>
                <div class="popup-card-get">
                  <div class="popup-card-get__item"><span>Способ №1:</span><a href="">Рекомендуйте друга или знакомого</a></div>
                  <div class="popup-card-get__item"><span>Способ №2:</span><a href="">Посетите офис продаж</a></div>
                </div>
              </div>
              <div class="popup-card__part">
                <div class="card-type">
                  <header class="card-type__header card-type-header">
                    <div class="card-type-header__item _benefits" data-tlt="ваша выгода до">150 000 ₽<span>/год</span></div>
                    <div class="card-type-header__item _discount" data-tlt="скидки до">15 %</div>
                  </header>
                  <div class="card-type__img"><img src="img/cards/silver.jpg" alt=""></div>
                </div>
              </div>
            </div>
            <div class="popup-cards-list__item popup-card">
              <div class="popup-card__part">
                <div class="popup-card__tlt">Серебряная карта</div>
                <div class="popup-card__type-mob">
                  <div class="discount _authed _gold"><span class="discount__inner">до 25 %</span></div>
                </div>
                <div class="popup-card-get">
                  <div class="popup-card-get__item"><span>Способ №1:</span><a href="">Совершите успешную рекомендацию</a></div>
                  <div class="popup-card-get__item"><span>Способ №2:</span><a href="">Купите квартиру в Urban Group</a></div>
                </div>
              </div>
              <div class="popup-card__part">
                <div class="card-type">
                  <header class="card-type__header card-type-header">
                    <div class="card-type-header__item _benefits" data-tlt="ваша выгода до">250 000 ₽<span>/год</span></div>
                    <div class="card-type-header__item _discount" data-tlt="скидки до">25 %</div>
                  </header>
                  <div class="card-type__img"><img src="img/cards/gold.jpg" alt=""></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Preloader Preloader-active" id="pagePreloader"></div>
    <script src="js/vendor.js"></script>
    <script src="js/common.js"></script>
  </body>
</html>

src/templates/bonus.pug
extends layout

block vars
    - var title = "Главная"

block header
    include tpl/header-login

block content
    .content
        .page-header._bonus(style="background-image: url('img/background/bg-image_2.jpg')")
            .container
                .inner
                    .page-header__inner
                        div.page-header__block
                            .logo-white
                        div.page-header__block
                            h1 Начни зарабатывать вместе с Urban Share
                            p Рекомендуйте жилье от Urban Group<br> и получайте % с продаж.
                        div.page-header__block
                            a(href="#form-register", data-modal).btn._full ПРИСОЕДЕНИТЬСЯ

        .container
            .inner
                section.section._white
                    h3 Открой бизнес-возможности с Urban Share
                    .tlt-descr Делится впечатлениями от встречи с URBAN GROUP<br> и зарабатывать вознаграждения!

                    .info-block
                        .info-block__tlt Как это работает

                        .tripple
                            .tripple__block
                                .tripple__icon._register
                                .tripple__tlt Зарегистрируйтесь<br>
                                    a(href="") в личном кабинете<br>
                                    | за 20 секунд

                            .tripple__block
                                .tripple__icon._share
                                .tripple__tlt Рекомендуйте Urban Group<br> друзьям и знакомым, добавив их контакты в личный кабинет

                            .tripple__block
                                .tripple__icon._money
                                .tripple__tlt Получайте бонусные баллы с каждой сделки и обменивайте их на деньги

                        .center
                            a(href="").btn._full Зарегистрироваться

                section.section._banner
                    .banner._large
                        .banner__tlt 4 успешных<br> рекомендации ≈
                        .banner__bonus 100 000
                            span= ' ₽'

                section.section
                    h2 Калькулятор вашей выгоды
                    .tlt-descr Узнайте, сколько вы получите бонусов

                    .calculator
                        .calculator__tlt 1 %
                            span  от каждой сделки

                        .calculator__inner
                            header.calculator-header
                                .calculator-header__tlt Стоимость квартиры вашего друга/знакомого

                                div.calculator-slider
                                    label.calculator-slider__lbl(data-label="Стоимость квартиры")
                                        div.calculator-slider__inpt-wrap(data-descr="₽")
                                            input.calculator-slider__inpt(id="calculator-input", value="10 800 000", type="text")
                                    div.slider-range(id="calculator-range", data-ui-slider, data-step="10", data-max-range="30000000", data-min-range="0")

                            .calculator-table
                                header.calculator-table__header
                                    .calculator-table__row
                                        .calculator-table__col Способ использования<br> (на выбор)
                                        .calculator-table__col Бонусы<br> для участников

                                .calculator-table__body
                                    .calculator-table__row
                                        .calculator-table__col Покупка машиноместа
                                        .calculator-table__col
                                            span(data-bonus="1.5") 162 000
                                            = ' ₽'

                                    .calculator-table__row
                                        .calculator-table__col Покупка кладовки
                                        .calculator-table__col
                                            span(data-bonus="1.2") 129 600
                                            = ' ₽'

                                    .calculator-table__row
                                        .calculator-table__col Покупка квартиры
                                        .calculator-table__col
                                            span(data-bonus="1.1") 118 800
                                            = ' ₽'

                                    .calculator-table__row
                                        .calculator-table__col Денежная компенсация
                                        .calculator-table__col
                                            span(data-bonus="0.9") 97 200
                                            = ' ₽'

                section.section._double
                    .section__inner
                        .contact-block._callback
                            .contact-block__tlt Остались вопросы?
                                span Получить персональную консультацию
                            .contact-block__btn
                                a(href="").btn._full Заказать звонок

                    .section__inner
                        .contact-block._register
                            .contact-block__tlt Хотите попробовать прямо сейчас?
                            .contact-block__btn
                                a(href="").btn._full Зарегистрироваться


block page_bottom
