src/templates/index.pug
extends layout

block vars
    - var title = "Главная"

block header
    include tpl/header-login

block content
    .content
        .container
            .inner
                section.section._double._padding
                    .section__inner
                        h2.align-left Список страниц

                        ul.site-map
                            li
                                a(href="about.html") О компании
                            li
                                a(href="partners.html") Страница партнера
                            li
                                a(href="news.html") Страница новости
                            li
                                a(href="sale.html") Распродажа
                            li
                                a(href="bonus.html") Бонус

                    .section__inner
                        h2.align-left Формы

                        ul.site-map
                            li
                                a(href="#form-register", data-modal) Регистрация
                            li
                                a(href="#form-register", data-modal) Вход
                            li
                                a(href="#form-partner", data-modal) Заявка на партнерство
                            li
                                a(href="#form-cabinet-enter", data-modal) Вход в личный кабинет
                            li
                                a(href="#form-call-order", data-modal) Заказать звонок
                            li
                                a(href="#form-pass-remind", data-modal) Восстановление пароля
                            li
                                a(href="#cards-available", data-modal) Варианты карт

block page_bottom

build/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Главная | Серебрица</title>
    <link rel="icon" type="image/png" href="/img/favicon.png" sizes="32x32">
    <link href="css/vendor.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body class="body">
    <div class="container _header">
      <header class="header _login">
        <div class="header__part"><a class="burger" href="#" data-menu-toggle></a><a class="logo-header" href=""></a>
          <nav class="header-nav"><a class="header-nav__item _active" href="">Об Urban Share</a><a class="header-nav__item" href="">Получить скидки</a><a class="header-nav__item" href="">Заработать</a></nav>
        </div>
        <div class="header__part">
          <div class="header-cabinet"><a class="phone" href="tel:+74951627740" title="+7 (495) 162-77-40">+7 (495) 162-77-40</a>
            <div class="header-log">
              <div class="header-logout"><a class="header-logout__link" href="" data-notification="8">Константин Иванович</a></div>
            </div><a class="login-btn _logout" href="">Выйти</a>
          </div><a class="logo-urban-group" href=""></a>
        </div>
      </header>
    </div>
    <nav class="mobile-menu">
      <div class="mobile-menu__inner"><em class="mobile-menu__close" data-menu-close></em>
        <div class="mobile-menu__block">
          <div class="mobile-nav"><a class="mobile-nav__link" href="">Об  Urban Share</a><a class="mobile-nav__link" href="">Получить скидки</a><a class="mobile-nav__link" href="">Заработать</a></div>
        </div>
        <div class="mobile-menu__block"><a class="mobile-menu__cabinet header-logout__link" href="" data-notification="8">Личный кабинет</a></div>
        <div class="mobile-menu__block"><a class="phone" href="tel:+74951627740">+7 (495) 162-77-40</a></div>
        <div class="mobile-menu__block"><a class="btn _full" href="">Зарегистрироваться</a></div>
      </div>
    </nav>
    <div class="content">
      <div class="container">
        <div class="inner">
          <section class="section _double _padding">
            <div class="section__inner">
              <h2 class="align-left">Список страниц</h2>
              <ul class="site-map">
                <li><a href="about.html">О компании</a></li>
                <li><a href="partners.html">Страница партнера</a></li>
                <li><a href="news.html">Страница новости</a></li>
                <li><a href="sale.html">Распродажа</a></li>
                <li><a href="bonus.html">Бонус</a></li>
              </ul>
            </div>
            <div class="section__inner">
              <h2 class="align-left">Формы</h2>
              <ul class="site-map">
                <li><a href="#form-register" data-modal>Регистрация</a></li>
                <li><a href="#form-register" data-modal>Вход</a></li>
                <li><a href="#form-partner" data-modal>Заявка на партнерство</a></li>
                <li><a href="#form-cabinet-enter" data-modal>Вход в личный кабинет</a></li>
                <li><a href="#form-call-order" data-modal>Заказать звонок</a></li>
                <li><a href="#form-pass-remind" data-modal>Восстановление пароля</a></li>
                <li><a href="#cards-available" data-modal>Варианты карт</a></li>
              </ul>
            </div>
          </section>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="inner">
          <div class="footer__back" data-arr-up></div>
          <div class="footer-top"><a class="logo-footer" href=""></a>
            <nav class="footer-nav"><a class="footer-nav__item" href="">Об Urban Share</a><a class="footer-nav__item" href="">Получить скидки</a><a class="footer-nav__item" href="">Заработать</a><a class="footer-nav__item _pdf" href="">
                <div class="icon"><img src="img/pdf.svg" alt=""></div><span>Правила Участия в Urban Share</span></a></nav>
            <div class="footer-soc"><a class="footer-soc__item _vk" href=""></a><a class="footer-soc__item _fb" href=""></a></div>
          </div>
          <div class="footer-bottom">
            <div class="footer-bottom__block">
              <p><a href="">Политика</a> и <a href="">соглашение</a> на обработку персональных данных.
              </p>
              <p>Материалы на данном сайте носят информационный характер и не являются публичной офертой, определяемой положениями статьи 437 Гражданского кодекса РФ.</p>
            </div>
            <div class="footer-bottom__block">
              <p>© Urban Group, 2017</p>
              <p><a class="logo-gray" href=""></a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div style="display: none;">
      <div class="popup-form" id="form-register">
        <div class="popup-form__tlt">Регистрация</div>
        <form class="form" action="">
          <div class="form__step">
            <input class="form__inp" type="text" name="register_sec-name" placeholder="Фамилия" required>
          </div>
          <div class="form__step">
            <input class="form__inp" type="text" name="register_name" placeholder="Имя" required>
          </div>
          <div class="form__step">
            <input class="form__inp" type="text" name="register_third-name" placeholder="Отчество">
          </div>
          <div class="form__step">
            <input class="form__inp" type="text" name="register_address" placeholder="Адрес">
          </div>
          <div class="form__step">
            <input class="form__inp" type="tel" name="register_phone" placeholder="Телефон" required data-phone>
          </div>
          <div class="form__step">
            <input class="form__inp" type="email" name="register_email" placeholder="Электронная почта" required>
          </div>
          <div class="form__step">
            <label class="agreement">
              <input type="checkbox" name="register_agreement" checked required><span>Я согласен(на) и принимаю <a href="">правила участия в Urban Share.</a> Ознакомлен с <a href="">Политикой и соглашением</a> на обработку персональных данных.</span>
            </label>
          </div>
          <div class="form__step">
            <input class="btn _full" type="submit" value="Зарегистрироваться">
          </div>
        </form>
      </div>
      <div class="popup-form" id="form-partner">
        <div class="popup-form__tlt">Заявка на партнерство</div>
        <form class="form" action="">
          <div class="form__step">
            <input class="form__inp" type="text" name="partner_company" placeholder="Наименование компании" required>
          </div>
          <div class="form__step">
            <input class="form__inp" type="text" name="partner_site" placeholder="Ссылка на сайт компании" required>
          </div>
          <div class="form__step">
            <select data-custom-select>
              <option value="0" disabled selected>Тип товара или услуг</option>
              <option value="product_type[0]">Услуги</option>
              <option value="product_type[1]">Одежда и обувь</option>
              <option value="product_type[2]">Мебель и ремонт</option>
              <option value="product_type[3]">Детские товары</option>
              <option value="product_type[4]">Здоровье и красота</option>
              <option value="product_type[5]">Мебель и ремонт</option>
            </select>
          </div>
          <div class="form__step">
            <input class="form__inp" type="text" name="partner_company" placeholder="Адрес">
          </div>
          <div class="form__step">
            <input class="form__inp" type="tel" name="partner_phone" placeholder="Телефон" required data-phone>
          </div>
          <div class="form__step">
            <input class="form__inp" type="email" name="partner_email" placeholder="Электронная почта" required>
          </div>
          <div class="form__step">
            <label class="agreement">
              <input type="checkbox" name="partner_agreement" checked required><span>Я согласен(на) и принимаю <a href="">правила участия в Urban Share.</a> Ознакомлен с <a href="">Политикой и соглашением</a> на обработку персональных данных.</span>
            </label>
          </div>
          <div class="form__step">
            <input class="btn _full" type="submit" value="Отправить заявку">
          </div>
        </form>
      </div>
      <div class="popup-form" id="form-cabinet-enter">
        <div class="popup-form__tlt">Вход в личный кабинет</div>
        <form class="form" action="">
          <div class="form__step">
            <textarea class="form__txtarea" name="partner_company" data-placeholder placeholder="Электронная почта 
или номер мобильного телефона" required></textarea>
          </div>
          <div class="form__step">
            <input class="form__inp" type="password" name="partner_site" placeholder="Пароль" required>
          </div>
          <div class="form__step">
            <input class="btn _full" type="submit" value="Войти">
            <div class="center"><a href="">Забыли пароль?</a></div>
          </div>
        </form>
      </div>
      <div class="popup-form" id="form-call-order">
        <div class="popup-form__tlt">Заказать звонок</div>
        <form class="form" action="">
          <div class="form__step">
            <input class="form__inp" type="tel" name="order_phone" placeholder="Телефон" required data-phone>
          </div>
          <div class="form__step">
            <label class="agreement">
              <input type="checkbox" name="partner_agreement" checked required><span>Я согласен(на) и принимаю <a href="">правила участия в Urban Share.</a> Ознакомлен с <a href="">Политикой и соглашением</a> на обработку персональных данных.</span>
            </label>
          </div>
          <div class="form__step">
            <input class="btn _full" type="submit" value="Позвоните мне">
          </div>
        </form>
      </div>
      <div class="popup-form" id="form-pass-remind">
        <div class="popup-form__tlt">Восстановление пароля</div>
        <form class="form" action="">
          <div class="form__step">
            <textarea class="form__txtarea" name="partner_company" data-placeholder placeholder="Электронная почта 
или номер мобильного телефона" required></textarea>
          </div>
          <div class="form__step">
            <input class="btn _full" type="submit" value="Позвоните мне">
          </div>
        </form>
      </div>
      <div class="popup-form _cards" id="cards-available">
        <div class="popup-cards">
          <div class="popup-cards__current">Ваша карта: «Классическая»</div>
          <div class="popup-cards__tlt">Как получить дополнительные привилегии и скидки:</div>
          <div class="popup-cards-list">
            <div class="popup-cards-list__item popup-card">
              <div class="popup-card__part">
                <div class="popup-card__tlt">Серебряная карта</div>
                <div class="popup-card__type-mob">
                  <div class="discount _authed _silver"><span class="discount__inner">до 15 %</span></div>
                </div>
                <div class="popup-card-get">
                  <div class="popup-card-get__item"><span>Способ №1:</span><a href="">Рекомендуйте друга или знакомого</a></div>
                  <div class="popup-card-get__item"><span>Способ №2:</span><a href="">Посетите офис продаж</a></div>
                </div>
              </div>
              <div class="popup-card__part">
                <div class="card-type">
                  <header class="card-type__header card-type-header">
                    <div class="card-type-header__item _benefits" data-tlt="ваша выгода до">150 000 ₽<span>/год</span></div>
                    <div class="card-type-header__item _discount" data-tlt="скидки до">15 %</div>
                  </header>
                  <div class="card-type__img"><img src="img/cards/silver.jpg" alt=""></div>
                </div>
              </div>
            </div>
            <div class="popup-cards-list__item popup-card">
              <div class="popup-card__part">
                <div class="popup-card__tlt">Серебряная карта</div>
                <div class="popup-card__type-mob">
                  <div class="discount _authed _gold"><span class="discount__inner">до 25 %</span></div>
                </div>
                <div class="popup-card-get">
                  <div class="popup-card-get__item"><span>Способ №1:</span><a href="">Совершите успешную рекомендацию</a></div>
                  <div class="popup-card-get__item"><span>Способ №2:</span><a href="">Купите квартиру в Urban Group</a></div>
                </div>
              </div>
              <div class="popup-card__part">
                <div class="card-type">
                  <header class="card-type__header card-type-header">
                    <div class="card-type-header__item _benefits" data-tlt="ваша выгода до">250 000 ₽<span>/год</span></div>
                    <div class="card-type-header__item _discount" data-tlt="скидки до">25 %</div>
                  </header>
                  <div class="card-type__img"><img src="img/cards/gold.jpg" alt=""></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Preloader Preloader-active" id="pagePreloader"></div>
    <script src="js/vendor.js"></script>
    <script src="js/common.js"></script>
  </body>
</html>
