src/templates/news.pug
extends layout

block vars
    - var title = "Главная"

block header
    include tpl/header-2-login

block content
    .content
        .container
            .inner
                section.section._white
                    .news
                        header.news__header.news-header
                            .news-header__date 02. 09. 2017
                            h1 Модели лояльности! (заголовок)

                        .widget-content
                            article
                                p
                                    img(src="img/news/news-blank.jpg", alt="")

                                h2 3 примера необычных программ лояльности для постоянных клиентов (подзаголовок)

                                p
                                    strong Авторы:

                                p Колынин Игорь , Липовой Дмитрий , Маханик Светлана , Сундатова Наталья

                                p Какие интересные опции предложить клиентам: опыт компании «Петрович» Как искать партнеров: опыт компании «Урбан Групп» Почему в сети магазинов William & Oliver варят пасту От постоянного снижения цен продажи не увеличиваются, свидетельствуют результаты исследования оператора программ клиентской лояльности Maritz Loyalty Marketing.

                                p Скидки и накопленные баллы в определенный момент перестают давать эффект. Люди хотят чего-то большего. Как удерживать постоянных клиентов и повышать ценность тех, кто покупает меньше? «Генеральный Директор» собрал опыт компаний, создавших успешные программы лояльности для постоянных клиентов и клиентские клубы. А также приоткрыл тайны механизма работы таких клубов. Биржа труда на сайте клуба клиентов как программа лояльности Игорь Колынин, Директор по маркетингу компании «Петрович», Санкт-Петербург.

                            article
                                p
                                    strong Список

                                ul
                                    li Гастрономические туры для гурманов. Знакомим с гастрономической культурой других стран. Приводим на кухню, показываем процесс приготовления блюд под руководством местного шеф-повара, учим разбираться в качестве продуктов. Туристические направления планируем расширять, но только в пределах России.
                                    li Карта в телефоне. Все покупки заносятся в историю карты лояльности. Клиент получает скидку до 10% в зависимости от накопленной суммы с предыдущих покупок. Владельцы дисконтных карт имеют преимущество во время сезонных распродаж. Одной картой может пользоваться как сам клиент, так и его родственники или друзья. Карту можно хранить в телефоне, скачав приложение для iOS или Android. Приложение напоминает клиентам о себе, следит за историей покупок, отражает скидки и текущие накопления, рассказывает о мероприятиях и новостях сети. Им пользуется более 5 тыс. человек.
                                    li Кулинарный мастер-класс в магазине. Два повара-консультанта отвечают за происходящее на открытой кухне в магазине. Программа называется «Простые рецепты». Многие кухонные инструменты требуют определенного умения, и мы показываем, как ими пользоваться. И в формате мастер-класса демонстрируем клиенту способы приготовления несложных блюд с использованием представленной в магазине продукции.

                            article
                                p
                                    strong Список

                                ol
                                    li Разнообразие услуг для членов клуба. Мы выделили 200 опций, отвечающих нуждам повседневной жизни. Из них половина нестандартных, например: концерт с танцами народов севера или поездка к верблюдам. Это изюминка нашего клуба – не ограничиваться списком товаров и услуг для новоселов. Мы договариваемся с партнерами о постоянных и сезонных скидках, промо- и кросс-акциях, спецпредложениях, привилегиях для участников клуба.
                                    li Экономическая выгода. По нашим расчетам, экономия для владельцев золотой клубной карты может достигать 290 тыс. руб. в год.
                                    li Большое число партнеров. Среди партнеров нашей клубной программы магазины, салоны красоты, фитнес-центры, медицинские учреждения, операторы сотовой связи и таксомоторные парки. На сайте клуба есть отдельный раздел для партнеров. В нем прописаны условия сотрудничества. В партнерской программе участвует более 270 организаций.

                            article
                                p
                                    strong Пример цитаты:

                                blockquote «У вас не может НЕ быть опыта, так что учитесь делать его запоминающимся».

                        footer.partners-footer
                            .partners-footer__block
                                    a(href="").watch-more Все новости
block page_bottom

build/news.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Главная | Серебрица</title>
    <link rel="icon" type="image/png" href="/img/favicon.png" sizes="32x32">
    <link href="css/vendor.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body class="body">
    <div class="container _header">
      <header class="header _simple _login">
        <div class="header__part"><a class="burger" href="#" data-menu-toggle></a><a class="logo-header" href=""></a>
          <nav class="header-nav"><a class="header-nav__item _active" href="">Об Urban Share</a><a class="header-nav__item" href="">Получить скидки</a><a class="header-nav__item" href="">Заработать</a></nav>
        </div>
        <div class="header__part">
          <div class="header-cabinet"><a class="phone" href="tel:+74951627740" title="+7 (495) 162-77-40">+7 (495) 162-77-40</a>
            <div class="header-log">
              <div class="header-logout"><a class="header-logout__link" href="" data-notification="8">Константин Иванович</a></div>
            </div><a class="login-btn _logout" href="">Выйти</a>
          </div><a class="logo-urban-group" href=""></a>
        </div>
      </header>
    </div>
    <nav class="mobile-menu">
      <div class="mobile-menu__inner"><em class="mobile-menu__close" data-menu-close></em>
        <div class="mobile-menu__block">
          <div class="mobile-nav"><a class="mobile-nav__link" href="">Об  Urban Share</a><a class="mobile-nav__link" href="">Получить скидки</a><a class="mobile-nav__link" href="">Заработать</a></div>
        </div>
        <div class="mobile-menu__block"><a class="mobile-menu__cabinet header-logout__link" href="" data-notification="8">Личный кабинет</a></div>
        <div class="mobile-menu__block"><a class="phone" href="tel:+74951627740">+7 (495) 162-77-40</a></div>
        <div class="mobile-menu__block"><a class="btn _full" href="">Зарегистрироваться</a></div>
      </div>
    </nav>
    <div class="content">
      <div class="container">
        <div class="inner">
          <section class="section _white">
            <div class="news">
              <header class="news__header news-header">
                <div class="news-header__date">02. 09. 2017</div>
                <h1>Модели лояльности! (заголовок)</h1>
              </header>
              <div class="widget-content">
                <article>
                  <p><img src="img/news/news-blank.jpg" alt=""></p>
                  <h2>3 примера необычных программ лояльности для постоянных клиентов (подзаголовок)</h2>
                  <p><strong>Авторы:</strong></p>
                  <p>Колынин Игорь , Липовой Дмитрий , Маханик Светлана , Сундатова Наталья</p>
                  <p>Какие интересные опции предложить клиентам: опыт компании «Петрович» Как искать партнеров: опыт компании «Урбан Групп» Почему в сети магазинов William & Oliver варят пасту От постоянного снижения цен продажи не увеличиваются, свидетельствуют результаты исследования оператора программ клиентской лояльности Maritz Loyalty Marketing.</p>
                  <p>Скидки и накопленные баллы в определенный момент перестают давать эффект. Люди хотят чего-то большего. Как удерживать постоянных клиентов и повышать ценность тех, кто покупает меньше? «Генеральный Директор» собрал опыт компаний, создавших успешные программы лояльности для постоянных клиентов и клиентские клубы. А также приоткрыл тайны механизма работы таких клубов. Биржа труда на сайте клуба клиентов как программа лояльности Игорь Колынин, Директор по маркетингу компании «Петрович», Санкт-Петербург.</p>
                </article>
                <article>
                  <p><strong>Список</strong></p>
                  <ul>
                    <li>Гастрономические туры для гурманов. Знакомим с гастрономической культурой других стран. Приводим на кухню, показываем процесс приготовления блюд под руководством местного шеф-повара, учим разбираться в качестве продуктов. Туристические направления планируем расширять, но только в пределах России.</li>
                    <li>Карта в телефоне. Все покупки заносятся в историю карты лояльности. Клиент получает скидку до 10% в зависимости от накопленной суммы с предыдущих покупок. Владельцы дисконтных карт имеют преимущество во время сезонных распродаж. Одной картой может пользоваться как сам клиент, так и его родственники или друзья. Карту можно хранить в телефоне, скачав приложение для iOS или Android. Приложение напоминает клиентам о себе, следит за историей покупок, отражает скидки и текущие накопления, рассказывает о мероприятиях и новостях сети. Им пользуется более 5 тыс. человек.</li>
                    <li>Кулинарный мастер-класс в магазине. Два повара-консультанта отвечают за происходящее на открытой кухне в магазине. Программа называется «Простые рецепты». Многие кухонные инструменты требуют определенного умения, и мы показываем, как ими пользоваться. И в формате мастер-класса демонстрируем клиенту способы приготовления несложных блюд с использованием представленной в магазине продукции.</li>
                  </ul>
                </article>
                <article>
                  <p><strong>Список</strong></p>
                  <ol>
                    <li>Разнообразие услуг для членов клуба. Мы выделили 200 опций, отвечающих нуждам повседневной жизни. Из них половина нестандартных, например: концерт с танцами народов севера или поездка к верблюдам. Это изюминка нашего клуба – не ограничиваться списком товаров и услуг для новоселов. Мы договариваемся с партнерами о постоянных и сезонных скидках, промо- и кросс-акциях, спецпредложениях, привилегиях для участников клуба.</li>
                    <li>Экономическая выгода. По нашим расчетам, экономия для владельцев золотой клубной карты может достигать 290 тыс. руб. в год.</li>
                    <li>Большое число партнеров. Среди партнеров нашей клубной программы магазины, салоны красоты, фитнес-центры, медицинские учреждения, операторы сотовой связи и таксомоторные парки. На сайте клуба есть отдельный раздел для партнеров. В нем прописаны условия сотрудничества. В партнерской программе участвует более 270 организаций.</li>
                  </ol>
                </article>
                <article>
                  <p><strong>Пример цитаты:</strong></p>
                  <blockquote>«У вас не может НЕ быть опыта, так что учитесь делать его запоминающимся».</blockquote>
                </article>
              </div>
              <footer class="partners-footer">
                <div class="partners-footer__block"><a class="watch-more" href="">Все новости</a></div>
              </footer>
            </div>
          </section>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="inner">
          <div class="footer__back" data-arr-up></div>
          <div class="footer-top"><a class="logo-footer" href=""></a>
            <nav class="footer-nav"><a class="footer-nav__item" href="">Об Urban Share</a><a class="footer-nav__item" href="">Получить скидки</a><a class="footer-nav__item" href="">Заработать</a><a class="footer-nav__item _pdf" href="">
                <div class="icon"><img src="img/pdf.svg" alt=""></div><span>Правила Участия в Urban Share</span></a></nav>
            <div class="footer-soc"><a class="footer-soc__item _vk" href=""></a><a class="footer-soc__item _fb" href=""></a></div>
          </div>
          <div class="footer-bottom">
            <div class="footer-bottom__block">
              <p><a href="">Политика</a> и <a href="">соглашение</a> на обработку персональных данных.
              </p>
              <p>Материалы на данном сайте носят информационный характер и не являются публичной офертой, определяемой положениями статьи 437 Гражданского кодекса РФ.</p>
            </div>
            <div class="footer-bottom__block">
              <p>© Urban Group, 2017</p>
              <p><a class="logo-gray" href=""></a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div style="display: none;">
      <div class="popup-form" id="form-register">
        <div class="popup-form__tlt">Регистрация</div>
        <form class="form" action="">
          <div class="form__step">
            <input class="form__inp" type="text" name="register_sec-name" placeholder="Фамилия" required>
          </div>
          <div class="form__step">
            <input class="form__inp" type="text" name="register_name" placeholder="Имя" required>
          </div>
          <div class="form__step">
            <input class="form__inp" type="text" name="register_third-name" placeholder="Отчество">
          </div>
          <div class="form__step">
            <input class="form__inp" type="text" name="register_address" placeholder="Адрес">
          </div>
          <div class="form__step">
            <input class="form__inp" type="tel" name="register_phone" placeholder="Телефон" required data-phone>
          </div>
          <div class="form__step">
            <input class="form__inp" type="email" name="register_email" placeholder="Электронная почта" required>
          </div>
          <div class="form__step">
            <label class="agreement">
              <input type="checkbox" name="register_agreement" checked required><span>Я согласен(на) и принимаю <a href="">правила участия в Urban Share.</a> Ознакомлен с <a href="">Политикой и соглашением</a> на обработку персональных данных.</span>
            </label>
          </div>
          <div class="form__step">
            <input class="btn _full" type="submit" value="Зарегистрироваться">
          </div>
        </form>
      </div>
      <div class="popup-form" id="form-partner">
        <div class="popup-form__tlt">Заявка на партнерство</div>
        <form class="form" action="">
          <div class="form__step">
            <input class="form__inp" type="text" name="partner_company" placeholder="Наименование компании" required>
          </div>
          <div class="form__step">
            <input class="form__inp" type="text" name="partner_site" placeholder="Ссылка на сайт компании" required>
          </div>
          <div class="form__step">
            <select data-custom-select>
              <option value="0" disabled selected>Тип товара или услуг</option>
              <option value="product_type[0]">Услуги</option>
              <option value="product_type[1]">Одежда и обувь</option>
              <option value="product_type[2]">Мебель и ремонт</option>
              <option value="product_type[3]">Детские товары</option>
              <option value="product_type[4]">Здоровье и красота</option>
              <option value="product_type[5]">Мебель и ремонт</option>
            </select>
          </div>
          <div class="form__step">
            <input class="form__inp" type="text" name="partner_company" placeholder="Адрес">
          </div>
          <div class="form__step">
            <input class="form__inp" type="tel" name="partner_phone" placeholder="Телефон" required data-phone>
          </div>
          <div class="form__step">
            <input class="form__inp" type="email" name="partner_email" placeholder="Электронная почта" required>
          </div>
          <div class="form__step">
            <label class="agreement">
              <input type="checkbox" name="partner_agreement" checked required><span>Я согласен(на) и принимаю <a href="">правила участия в Urban Share.</a> Ознакомлен с <a href="">Политикой и соглашением</a> на обработку персональных данных.</span>
            </label>
          </div>
          <div class="form__step">
            <input class="btn _full" type="submit" value="Отправить заявку">
          </div>
        </form>
      </div>
      <div class="popup-form" id="form-cabinet-enter">
        <div class="popup-form__tlt">Вход в личный кабинет</div>
        <form class="form" action="">
          <div class="form__step">
            <textarea class="form__txtarea" name="partner_company" data-placeholder placeholder="Электронная почта 
или номер мобильного телефона" required></textarea>
          </div>
          <div class="form__step">
            <input class="form__inp" type="password" name="partner_site" placeholder="Пароль" required>
          </div>
          <div class="form__step">
            <input class="btn _full" type="submit" value="Войти">
            <div class="center"><a href="">Забыли пароль?</a></div>
          </div>
        </form>
      </div>
      <div class="popup-form" id="form-call-order">
        <div class="popup-form__tlt">Заказать звонок</div>
        <form class="form" action="">
          <div class="form__step">
            <input class="form__inp" type="tel" name="order_phone" placeholder="Телефон" required data-phone>
          </div>
          <div class="form__step">
            <label class="agreement">
              <input type="checkbox" name="partner_agreement" checked required><span>Я согласен(на) и принимаю <a href="">правила участия в Urban Share.</a> Ознакомлен с <a href="">Политикой и соглашением</a> на обработку персональных данных.</span>
            </label>
          </div>
          <div class="form__step">
            <input class="btn _full" type="submit" value="Позвоните мне">
          </div>
        </form>
      </div>
      <div class="popup-form" id="form-pass-remind">
        <div class="popup-form__tlt">Восстановление пароля</div>
        <form class="form" action="">
          <div class="form__step">
            <textarea class="form__txtarea" name="partner_company" data-placeholder placeholder="Электронная почта 
или номер мобильного телефона" required></textarea>
          </div>
          <div class="form__step">
            <input class="btn _full" type="submit" value="Позвоните мне">
          </div>
        </form>
      </div>
      <div class="popup-form _cards" id="cards-available">
        <div class="popup-cards">
          <div class="popup-cards__current">Ваша карта: «Классическая»</div>
          <div class="popup-cards__tlt">Как получить дополнительные привилегии и скидки:</div>
          <div class="popup-cards-list">
            <div class="popup-cards-list__item popup-card">
              <div class="popup-card__part">
                <div class="popup-card__tlt">Серебряная карта</div>
                <div class="popup-card__type-mob">
                  <div class="discount _authed _silver"><span class="discount__inner">до 15 %</span></div>
                </div>
                <div class="popup-card-get">
                  <div class="popup-card-get__item"><span>Способ №1:</span><a href="">Рекомендуйте друга или знакомого</a></div>
                  <div class="popup-card-get__item"><span>Способ №2:</span><a href="">Посетите офис продаж</a></div>
                </div>
              </div>
              <div class="popup-card__part">
                <div class="card-type">
                  <header class="card-type__header card-type-header">
                    <div class="card-type-header__item _benefits" data-tlt="ваша выгода до">150 000 ₽<span>/год</span></div>
                    <div class="card-type-header__item _discount" data-tlt="скидки до">15 %</div>
                  </header>
                  <div class="card-type__img"><img src="img/cards/silver.jpg" alt=""></div>
                </div>
              </div>
            </div>
            <div class="popup-cards-list__item popup-card">
              <div class="popup-card__part">
                <div class="popup-card__tlt">Серебряная карта</div>
                <div class="popup-card__type-mob">
                  <div class="discount _authed _gold"><span class="discount__inner">до 25 %</span></div>
                </div>
                <div class="popup-card-get">
                  <div class="popup-card-get__item"><span>Способ №1:</span><a href="">Совершите успешную рекомендацию</a></div>
                  <div class="popup-card-get__item"><span>Способ №2:</span><a href="">Купите квартиру в Urban Group</a></div>
                </div>
              </div>
              <div class="popup-card__part">
                <div class="card-type">
                  <header class="card-type__header card-type-header">
                    <div class="card-type-header__item _benefits" data-tlt="ваша выгода до">250 000 ₽<span>/год</span></div>
                    <div class="card-type-header__item _discount" data-tlt="скидки до">25 %</div>
                  </header>
                  <div class="card-type__img"><img src="img/cards/gold.jpg" alt=""></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Preloader Preloader-active" id="pagePreloader"></div>
    <script src="js/vendor.js"></script>
    <script src="js/common.js"></script>
  </body>
</html>
