src/templates/partners.pug
extends layout

block vars
    - var title = "Главная"

block header
    include tpl/header-2-logout

block content
    .content
        .container
            .inner
                section.section._white
                    .partners
                        header.partners__header.partners-header
                            .partners-header__img
                                img(src="img/techno-logo.jpg", alt="")
                            h1 Технопарк
                                span Сеть магазинов бытовой техники и электроники

                        .widget-content
                            p «Технопарк» — это сеть магазинов бытовой техники и электроники, эксперт в области первоклассного сервиса и качества представляемой продукции.

                            p Философия Технопарка — делать жизнь более комфортной, предлагая особенную технику людям, стремящимся к высокому уровню жизни.

                            p Наша цель — достичь выдающихся результатов и бескомпромиссного качества, уделяя внимание каждой детали.

                            p Свою историю компания начала в 1992 году с открытия первого специализированного магазина по продаже электроники и бытовой техники. Сегодня «Технопарк» представляет собой динамично развивающуюся компанию, включающую в себя более 60 магазинов в Москве и 16 супермаркетов в регионах России.

                            article
                                h2 Как получить Сертификат:
                                p При бронировании квартиры или подписании договора долевого участия предоставляется Сертификат «Технопарк» номиналом 10 000 р. для покупки бытовой техники. Сертификатом можно оплатить до 20% от стоимости товара.

                            article
                                h2 Как получить скидку:
                                p Сертификатом можно оплатить до 20% от стоимости товаров БТ, КБТ и Товаров для дома. Не допускается использование более одного Сертификата на один чек. Сертификатом можно воспользоваться во всех магазинах Технопарк. При возврате товара Сертификат не возвращается.

                            footer.partners-footer
                                .partners-footer__block
                                    p
                                        strong Телефон:
                                        =' +7 (495) 755-88-88'
                                    p
                                        strong Сайт:&nbsp;
                                        a(href="http:technopark.ru", target="_blank") technopark.ru

                                .partners-footer__block._flex-row
                                    div.discount
                                        span.discount__inner Скидки до
                                            span
                                                = ' 25 %'
                                        div.discount__descr Скидка доступна зарегистрированным пользователям

                                    a(href="").btn._full зарегистрироваться

                                .partners-footer__block._flex-row
                                    div.discount._authed._classic
                                        span.discount__inner 5 % — ваша скидка

                                    a(href="").btn._full получить скидку больше

                                .partners-footer__block._flex-row
                                    div.discount._authed._silver
                                        span.discount__inner 15 % — ваша скидка

                                    a(href="").btn._full получить скидку больше

                                .partners-footer__block._flex-row
                                    div.discount._authed._gold
                                        span.discount__inner 25 % — ваша скидка

                                .partners-footer__block
                                    a(href="").watch-more Все партнеры


block page_bottom

build/partners.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Главная | Серебрица</title>
    <link rel="icon" type="image/png" href="/img/favicon.png" sizes="32x32">
    <link href="css/vendor.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body class="body">
    <div class="container _header">
      <header class="header _simple _logout">
        <div class="header__part"><a class="burger" href="#" data-menu-toggle></a><a class="logo-header" href=""></a>
          <nav class="header-nav"><a class="header-nav__item _active" href="">Об Urban Share</a><a class="header-nav__item" href="">Получить скидки</a><a class="header-nav__item" href="">Заработать</a></nav>
        </div>
        <div class="header__part">
          <div class="header-cabinet"><a class="phone" href="tel:+74951627740" title="+7 (495) 162-77-40">+7 (495) 162-77-40</a>
            <div class="header-log"><a class="btn _simple" href="">Зарегистрироваться</a></div><a class="login-btn _login" href="">Войти</a>
          </div><a class="logo-urban-group" href=""></a>
        </div>
      </header>
    </div>
    <nav class="mobile-menu">
      <div class="mobile-menu__inner"><em class="mobile-menu__close" data-menu-close></em>
        <div class="mobile-menu__block">
          <div class="mobile-nav"><a class="mobile-nav__link" href="">Об  Urban Share</a><a class="mobile-nav__link" href="">Получить скидки</a><a class="mobile-nav__link" href="">Заработать</a></div>
        </div>
        <div class="mobile-menu__block"><a class="mobile-menu__cabinet header-logout__link" href="" data-notification="8">Личный кабинет</a></div>
        <div class="mobile-menu__block"><a class="phone" href="tel:+74951627740">+7 (495) 162-77-40</a></div>
        <div class="mobile-menu__block"><a class="btn _full" href="">Зарегистрироваться</a></div>
      </div>
    </nav>
    <div class="content">
      <div class="container">
        <div class="inner">
          <section class="section _white">
            <div class="partners">
              <header class="partners__header partners-header">
                <div class="partners-header__img"><img src="img/techno-logo.jpg" alt=""></div>
                <h1>Технопарк<span>Сеть магазинов бытовой техники и электроники</span></h1>
              </header>
              <div class="widget-content">
                <p>«Технопарк» — это сеть магазинов бытовой техники и электроники, эксперт в области первоклассного сервиса и качества представляемой продукции.</p>
                <p>Философия Технопарка — делать жизнь более комфортной, предлагая особенную технику людям, стремящимся к высокому уровню жизни.</p>
                <p>Наша цель — достичь выдающихся результатов и бескомпромиссного качества, уделяя внимание каждой детали.</p>
                <p>Свою историю компания начала в 1992 году с открытия первого специализированного магазина по продаже электроники и бытовой техники. Сегодня «Технопарк» представляет собой динамично развивающуюся компанию, включающую в себя более 60 магазинов в Москве и 16 супермаркетов в регионах России.</p>
                <article>
                  <h2>Как получить Сертификат:</h2>
                  <p>При бронировании квартиры или подписании договора долевого участия предоставляется Сертификат «Технопарк» номиналом 10 000 р. для покупки бытовой техники. Сертификатом можно оплатить до 20% от стоимости товара.</p>
                </article>
                <article>
                  <h2>Как получить скидку:</h2>
                  <p>Сертификатом можно оплатить до 20% от стоимости товаров БТ, КБТ и Товаров для дома. Не допускается использование более одного Сертификата на один чек. Сертификатом можно воспользоваться во всех магазинах Технопарк. При возврате товара Сертификат не возвращается.</p>
                </article>
                <footer class="partners-footer">
                  <div class="partners-footer__block">
                    <p><strong>Телефон:</strong> +7 (495) 755-88-88
                    </p>
                    <p><strong>Сайт:&nbsp;</strong><a href="http:technopark.ru" target="_blank">technopark.ru</a></p>
                  </div>
                  <div class="partners-footer__block _flex-row">
                    <div class="discount"><span class="discount__inner">Скидки до<span> 25 %</span></span>
                      <div class="discount__descr">Скидка доступна зарегистрированным пользователям</div>
                    </div><a class="btn _full" href="">зарегистрироваться</a>
                  </div>
                  <div class="partners-footer__block _flex-row">
                    <div class="discount _authed _classic"><span class="discount__inner">5 % — ваша скидка</span></div><a class="btn _full" href="">получить скидку больше</a>
                  </div>
                  <div class="partners-footer__block _flex-row">
                    <div class="discount _authed _silver"><span class="discount__inner">15 % — ваша скидка</span></div><a class="btn _full" href="">получить скидку больше</a>
                  </div>
                  <div class="partners-footer__block _flex-row">
                    <div class="discount _authed _gold"><span class="discount__inner">25 % — ваша скидка</span></div>
                  </div>
                  <div class="partners-footer__block"><a class="watch-more" href="">Все партнеры</a></div>
                </footer>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="inner">
          <div class="footer__back" data-arr-up></div>
          <div class="footer-top"><a class="logo-footer" href=""></a>
            <nav class="footer-nav"><a class="footer-nav__item" href="">Об Urban Share</a><a class="footer-nav__item" href="">Получить скидки</a><a class="footer-nav__item" href="">Заработать</a><a class="footer-nav__item _pdf" href="">
                <div class="icon"><img src="img/pdf.svg" alt=""></div><span>Правила Участия в Urban Share</span></a></nav>
            <div class="footer-soc"><a class="footer-soc__item _vk" href=""></a><a class="footer-soc__item _fb" href=""></a></div>
          </div>
          <div class="footer-bottom">
            <div class="footer-bottom__block">
              <p><a href="">Политика</a> и <a href="">соглашение</a> на обработку персональных данных.
              </p>
              <p>Материалы на данном сайте носят информационный характер и не являются публичной офертой, определяемой положениями статьи 437 Гражданского кодекса РФ.</p>
            </div>
            <div class="footer-bottom__block">
              <p>© Urban Group, 2017</p>
              <p><a class="logo-gray" href=""></a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div style="display: none;">
      <div class="popup-form" id="form-register">
        <div class="popup-form__tlt">Регистрация</div>
        <form class="form" action="">
          <div class="form__step">
            <input class="form__inp" type="text" name="register_sec-name" placeholder="Фамилия" required>
          </div>
          <div class="form__step">
            <input class="form__inp" type="text" name="register_name" placeholder="Имя" required>
          </div>
          <div class="form__step">
            <input class="form__inp" type="text" name="register_third-name" placeholder="Отчество">
          </div>
          <div class="form__step">
            <input class="form__inp" type="text" name="register_address" placeholder="Адрес">
          </div>
          <div class="form__step">
            <input class="form__inp" type="tel" name="register_phone" placeholder="Телефон" required data-phone>
          </div>
          <div class="form__step">
            <input class="form__inp" type="email" name="register_email" placeholder="Электронная почта" required>
          </div>
          <div class="form__step">
            <label class="agreement">
              <input type="checkbox" name="register_agreement" checked required><span>Я согласен(на) и принимаю <a href="">правила участия в Urban Share.</a> Ознакомлен с <a href="">Политикой и соглашением</a> на обработку персональных данных.</span>
            </label>
          </div>
          <div class="form__step">
            <input class="btn _full" type="submit" value="Зарегистрироваться">
          </div>
        </form>
      </div>
      <div class="popup-form" id="form-partner">
        <div class="popup-form__tlt">Заявка на партнерство</div>
        <form class="form" action="">
          <div class="form__step">
            <input class="form__inp" type="text" name="partner_company" placeholder="Наименование компании" required>
          </div>
          <div class="form__step">
            <input class="form__inp" type="text" name="partner_site" placeholder="Ссылка на сайт компании" required>
          </div>
          <div class="form__step">
            <select data-custom-select>
              <option value="0" disabled selected>Тип товара или услуг</option>
              <option value="product_type[0]">Услуги</option>
              <option value="product_type[1]">Одежда и обувь</option>
              <option value="product_type[2]">Мебель и ремонт</option>
              <option value="product_type[3]">Детские товары</option>
              <option value="product_type[4]">Здоровье и красота</option>
              <option value="product_type[5]">Мебель и ремонт</option>
            </select>
          </div>
          <div class="form__step">
            <input class="form__inp" type="text" name="partner_company" placeholder="Адрес">
          </div>
          <div class="form__step">
            <input class="form__inp" type="tel" name="partner_phone" placeholder="Телефон" required data-phone>
          </div>
          <div class="form__step">
            <input class="form__inp" type="email" name="partner_email" placeholder="Электронная почта" required>
          </div>
          <div class="form__step">
            <label class="agreement">
              <input type="checkbox" name="partner_agreement" checked required><span>Я согласен(на) и принимаю <a href="">правила участия в Urban Share.</a> Ознакомлен с <a href="">Политикой и соглашением</a> на обработку персональных данных.</span>
            </label>
          </div>
          <div class="form__step">
            <input class="btn _full" type="submit" value="Отправить заявку">
          </div>
        </form>
      </div>
      <div class="popup-form" id="form-cabinet-enter">
        <div class="popup-form__tlt">Вход в личный кабинет</div>
        <form class="form" action="">
          <div class="form__step">
            <textarea class="form__txtarea" name="partner_company" data-placeholder placeholder="Электронная почта 
или номер мобильного телефона" required></textarea>
          </div>
          <div class="form__step">
            <input class="form__inp" type="password" name="partner_site" placeholder="Пароль" required>
          </div>
          <div class="form__step">
            <input class="btn _full" type="submit" value="Войти">
            <div class="center"><a href="">Забыли пароль?</a></div>
          </div>
        </form>
      </div>
      <div class="popup-form" id="form-call-order">
        <div class="popup-form__tlt">Заказать звонок</div>
        <form class="form" action="">
          <div class="form__step">
            <input class="form__inp" type="tel" name="order_phone" placeholder="Телефон" required data-phone>
          </div>
          <div class="form__step">
            <label class="agreement">
              <input type="checkbox" name="partner_agreement" checked required><span>Я согласен(на) и принимаю <a href="">правила участия в Urban Share.</a> Ознакомлен с <a href="">Политикой и соглашением</a> на обработку персональных данных.</span>
            </label>
          </div>
          <div class="form__step">
            <input class="btn _full" type="submit" value="Позвоните мне">
          </div>
        </form>
      </div>
      <div class="popup-form" id="form-pass-remind">
        <div class="popup-form__tlt">Восстановление пароля</div>
        <form class="form" action="">
          <div class="form__step">
            <textarea class="form__txtarea" name="partner_company" data-placeholder placeholder="Электронная почта 
или номер мобильного телефона" required></textarea>
          </div>
          <div class="form__step">
            <input class="btn _full" type="submit" value="Позвоните мне">
          </div>
        </form>
      </div>
      <div class="popup-form _cards" id="cards-available">
        <div class="popup-cards">
          <div class="popup-cards__current">Ваша карта: «Классическая»</div>
          <div class="popup-cards__tlt">Как получить дополнительные привилегии и скидки:</div>
          <div class="popup-cards-list">
            <div class="popup-cards-list__item popup-card">
              <div class="popup-card__part">
                <div class="popup-card__tlt">Серебряная карта</div>
                <div class="popup-card__type-mob">
                  <div class="discount _authed _silver"><span class="discount__inner">до 15 %</span></div>
                </div>
                <div class="popup-card-get">
                  <div class="popup-card-get__item"><span>Способ №1:</span><a href="">Рекомендуйте друга или знакомого</a></div>
                  <div class="popup-card-get__item"><span>Способ №2:</span><a href="">Посетите офис продаж</a></div>
                </div>
              </div>
              <div class="popup-card__part">
                <div class="card-type">
                  <header class="card-type__header card-type-header">
                    <div class="card-type-header__item _benefits" data-tlt="ваша выгода до">150 000 ₽<span>/год</span></div>
                    <div class="card-type-header__item _discount" data-tlt="скидки до">15 %</div>
                  </header>
                  <div class="card-type__img"><img src="img/cards/silver.jpg" alt=""></div>
                </div>
              </div>
            </div>
            <div class="popup-cards-list__item popup-card">
              <div class="popup-card__part">
                <div class="popup-card__tlt">Серебряная карта</div>
                <div class="popup-card__type-mob">
                  <div class="discount _authed _gold"><span class="discount__inner">до 25 %</span></div>
                </div>
                <div class="popup-card-get">
                  <div class="popup-card-get__item"><span>Способ №1:</span><a href="">Совершите успешную рекомендацию</a></div>
                  <div class="popup-card-get__item"><span>Способ №2:</span><a href="">Купите квартиру в Urban Group</a></div>
                </div>
              </div>
              <div class="popup-card__part">
                <div class="card-type">
                  <header class="card-type__header card-type-header">
                    <div class="card-type-header__item _benefits" data-tlt="ваша выгода до">250 000 ₽<span>/год</span></div>
                    <div class="card-type-header__item _discount" data-tlt="скидки до">25 %</div>
                  </header>
                  <div class="card-type__img"><img src="img/cards/gold.jpg" alt=""></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Preloader Preloader-active" id="pagePreloader"></div>
    <script src="js/vendor.js"></script>
    <script src="js/common.js"></script>
  </body>
</html>
