build/sale.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Главная | Серебрица</title>
    <link rel="icon" type="image/png" href="/img/favicon.png" sizes="32x32">
    <link href="css/vendor.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body class="body">
    <div class="container _header">
      <header class="header _login">
        <div class="header__part"><a class="burger" href="#" data-menu-toggle></a><a class="logo-header" href=""></a>
          <nav class="header-nav"><a class="header-nav__item _active" href="">Об Urban Share</a><a class="header-nav__item" href="">Получить скидки</a><a class="header-nav__item" href="">Заработать</a></nav>
        </div>
        <div class="header__part">
          <div class="header-cabinet"><a class="phone" href="tel:+74951627740" title="+7 (495) 162-77-40">+7 (495) 162-77-40</a>
            <div class="header-log">
              <div class="header-logout"><a class="header-logout__link" href="" data-notification="8">Константин Иванович</a></div>
            </div><a class="login-btn _logout" href="">Выйти</a>
          </div><a class="logo-urban-group" href=""></a>
        </div>
      </header>
    </div>
    <nav class="mobile-menu">
      <div class="mobile-menu__inner"><em class="mobile-menu__close" data-menu-close></em>
        <div class="mobile-menu__block">
          <div class="mobile-nav"><a class="mobile-nav__link" href="">Об  Urban Share</a><a class="mobile-nav__link" href="">Получить скидки</a><a class="mobile-nav__link" href="">Заработать</a></div>
        </div>
        <div class="mobile-menu__block"><a class="mobile-menu__cabinet header-logout__link" href="" data-notification="8">Личный кабинет</a></div>
        <div class="mobile-menu__block"><a class="phone" href="tel:+74951627740">+7 (495) 162-77-40</a></div>
        <div class="mobile-menu__block"><a class="btn _full" href="">Зарегистрироваться</a></div>
      </div>
    </nav>
    <div class="content">
      <div class="page-header _sale" style="background-image: url('img/background/bg-image_1.jpg');">
        <div class="container">
          <div class="inner">
            <div class="page-header__inner">
              <div class="page-header__block">
                <div class="logo-white"></div>
              </div>
              <div class="page-header__block">
                <h1>Получай скидки</h1>
                <p>Вступайте в программу Urban Share и<br> совершайте выгодные покупки со скидками до 25%!</p>
              </div>
              <div class="page-header__block"><a class="btn _full" href="">ПРИСОЕДЕНИТЬСЯ</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="inner">
          <section class="section _white">
            <h3>Покупки с Urban Share еще выгоднее!</h3>
            <div class="tlt-descr">URBAN SHARE — это новые возможности для единомышленников Urban Group.<br> Качество жизни вместе с нами, выгодные покупки популярных брендов<br> и сервис от компаний-партнеров.</div>
            <div class="info-block">
              <div class="info-block__tlt">Три простых шага, как получить скидки у наших партнеров</div>
              <div class="tripple">
                <div class="tripple__block">
                  <div class="tripple__icon _card"></div>
                  <div class="tripple__tlt">Оформите карту<br> Urban Share</div>
                </div>
                <div class="tripple__block">
                  <div class="tripple__icon _point"></div>
                  <div class="tripple__tlt">Выбирайте партнеров из разных категорий</div>
                </div>
                <div class="tripple__block">
                  <div class="tripple__icon _gift"></div>
                  <div class="tripple__tlt">Получайте выгодные спецпредложения</div>
                </div>
              </div>
            </div>
          </section>
          <section class="section">
            <h2>Карты Urban Share</h2>
            <div class="tlt-descr">Совершайте покупки по карте Urban Share и получайте скидки до 25%</div>
            <div class="slider-tabs-mob">
              <div class="slider-tabs-mob__item _active">Классическая</div>
              <div class="slider-tabs-mob__item">Серебряная</div>
              <div class="slider-tabs-mob__item">Золотая</div>
            </div>
            <div class="slider" data-slider>
              <div class="slider__item">
                <div class="card-type-wrapper">
                  <div class="card-type-wrapper__tlt">Классическая карта</div>
                  <div class="card-type">
                    <header class="card-type__header card-type-header">
                      <div class="card-type-header__item _benefits" data-tlt="ваша выгода до">90 000 ₽<span>/год</span></div>
                      <div class="card-type-header__item _discount" data-tlt="скидки до">7 %</div>
                    </header>
                    <div class="card-type__img"><img src="img/cards/classic.jpg" alt=""></div>
                    <div class="card-type__descr">Для всех посетителей сайта, в декабре 2017 года</div>
                  </div>
                </div>
              </div>
              <div class="slider__item">
                <div class="card-type-wrapper">
                  <div class="card-type-wrapper__tlt">Классическая карта</div>
                  <div class="card-type">
                    <header class="card-type__header card-type-header">
                      <div class="card-type-header__item _benefits" data-tlt="ваша выгода до">150 000 ₽<span>/год</span></div>
                      <div class="card-type-header__item _discount" data-tlt="скидки до">15 %</div>
                    </header>
                    <div class="card-type__img"><img src="img/cards/gold.jpg" alt=""></div>
                    <div class="card-type__descr">В офисах продаж<br> Жилых комплексов Urban Group</div>
                  </div>
                </div>
              </div>
              <div class="slider__item">
                <div class="card-type-wrapper">
                  <div class="card-type-wrapper__tlt">Классическая карта</div>
                  <div class="card-type">
                    <header class="card-type__header card-type-header">
                      <div class="card-type-header__item _benefits" data-tlt="ваша выгода до">290 000 ₽<span>/год</span></div>
                      <div class="card-type-header__item _discount" data-tlt="скидки до">25 %</div>
                    </header>
                    <div class="card-type__img"><img src="img/cards/silver.jpg" alt=""></div>
                    <div class="card-type__descr">При покупке квартиры в Жилом комплексе Urban Group</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="get-card">
              <div class="get-card__tlt">Используйте Вашу карту Urban Share при оплате услуг наших партнеров и для Вас будут действовать специальные скидки и акции.</div>
              <p class="center"><a class="btn _full" href="">Получить карту</a></p>
            </div>
          </section>
          <section class="section">
            <h2>Партнеры URBAN SHARE</h2>
            <div class="tlt-descr">Более 1 000 магазинов, ресторанов и услуг</div>
            <div class="products">
              <header class="products__header products-header">
                <form class="products-form" action="" method="post">
                  <div class="products-search">
                    <input class="products-search__txt" type="text" placeholder="Найти..." required data-products-search>
                    <input class="products-search__sbmt" type="submit" value="">
                  </div>
                  <div class="product-categories-mob"><a class="btn _gray" href="" data-categories>Категории</a>
                    <div class="product-categories-mob__popup">
                      <header class="product-categories-mob__header"><span class="product-categories-mob__tlt">Категории</span><em class="product-categories-mob__close" data-categories-close></em></header>
                      <div class="product-categories-mob-list"><a class="product-categories-mob-list__item _active" href="">Все партнеры</a><a class="product-categories-mob-list__item" href="">Услуги</a><a class="product-categories-mob-list__item" href="">Одежда и обувь</a><a class="product-categories-mob-list__item" href="">Мебель и ремонт</a><a class="product-categories-mob-list__item" href="">Детские товары</a><a class="product-categories-mob-list__item" href="">Здоровье и красота</a><a class="product-categories-mob-list__item" href="">Мебель и ремонт</a><a class="product-categories-mob-list__item" href="">Детские товары</a><a class="product-categories-mob-list__item" href="">Здоровье и красота</a><a class="product-categories-mob-list__item" href="">Все партнеры</a><a class="product-categories-mob-list__item" href="">Услуги</a><a class="product-categories-mob-list__item" href="">Одежда и обувь</a><a class="product-categories-mob-list__item" href="">Мебель и ремонт</a><a class="product-categories-mob-list__item" href="">Детские товары</a><a class="product-categories-mob-list__item" href="">Здоровье и красота</a><a class="product-categories-mob-list__item" href="">Мебель и ремонт</a><a class="product-categories-mob-list__item" href="">Детские товары</a><a class="product-categories-mob-list__item" href="">Здоровье и красота</a></div>
                    </div>
                  </div>
                  <div class="products-categories">
                    <label class="products-categories__lbl">
                      <input class="products-categories__inp" type="checkbox" name="category" value="category[0]" checked><span class="products-categories__name">Все партнеры</span>
                    </label>
                    <label class="products-categories__lbl">
                      <input class="products-categories__inp" type="checkbox" name="category" value="category[1]"><span class="products-categories__name">Электроника</span>
                    </label>
                    <label class="products-categories__lbl">
                      <input class="products-categories__inp" type="checkbox" name="category" value="category[2]"><span class="products-categories__name">Мебель и ремонт</span>
                    </label>
                    <label class="products-categories__lbl">
                      <input class="products-categories__inp" type="checkbox" name="category" value="category[3]"><span class="products-categories__name">Одежда и обувь</span>
                    </label>
                    <label class="products-categories__lbl">
                      <input class="products-categories__inp" type="checkbox" name="category" value="category[4]"><span class="products-categories__name">Продукты</span>
                    </label>
                    <label class="products-categories__lbl">
                      <input class="products-categories__inp" type="checkbox" name="category" value="category[5]"><span class="products-categories__name">Путешествия</span>
                    </label>
                    <label class="products-categories__lbl">
                      <input class="products-categories__inp" type="checkbox" name="category" value="category[6]"><span class="products-categories__name">Авто и запчасти</span>
                    </label>
                    <label class="products-categories__lbl">
                      <input class="products-categories__inp" type="checkbox" name="category" value="category[7]"><span class="products-categories__name">Ювелирные изделия</span>
                    </label>
                    <label class="products-categories__lbl">
                      <input class="products-categories__inp" type="checkbox" name="category" value="category[8]"><span class="products-categories__name">Здоровье и красота</span>
                    </label>
                    <label class="products-categories__lbl">
                      <input class="products-categories__inp" type="checkbox" name="category" value="category[9]"><span class="products-categories__name">Товары для дома</span>
                    </label>
                    <label class="products-categories__lbl">
                      <input class="products-categories__inp" type="checkbox" name="category" value="category[10]"><span class="products-categories__name">Образование</span>
                    </label>
                    <label class="products-categories__lbl">
                      <input class="products-categories__inp" type="checkbox" name="category" value="category[11]"><span class="products-categories__name">Туризм и авиабилеты</span>
                    </label>
                    <label class="products-categories__lbl">
                      <input class="products-categories__inp" type="checkbox" name="category" value="category[12]"><span class="products-categories__name">страхование</span>
                    </label>
                    <label class="products-categories__lbl">
                      <input class="products-categories__inp" type="checkbox" name="category" value="category[13]"><span class="products-categories__name">Развлечения</span>
                    </label>
                    <label class="products-categories__lbl">
                      <input class="products-categories__inp" type="checkbox" name="category" value="category[14]"><span class="products-categories__name">Рестораны</span>
                    </label>
                    <label class="products-categories__lbl">
                      <input class="products-categories__inp" type="checkbox" name="category" value="category[15]"><span class="products-categories__name">Детские товары</span>
                    </label>
                  </div>
                </form>
              </header>
              <div class="products-list"><a class="products-list__item" href="">
                  <div class="products-list__name">Стать партнером</div>
                  <div class="products-list__descr">У вас есть желание увеличить продажи вашей компании — станьте партнером программы Urban Share</div></a><a class="products-list__item" href="">
                  <div class="products-list__img"><img src="img/partners/aeroflot.jpg" alt=""></div>
                  <div class="products-list__name">Аэрофлот</div>
                  <div class="products-list__descr">Авиакомпания - лидер авиаперевозок в России</div>
                  <footer class="products-list__footer">до<span> 15 %</span></footer></a><a class="products-list__item" href="">
                  <div class="products-list__img"><img src="img/partners/technopark.jpg" alt=""></div>
                  <div class="products-list__name">Технопарк</div>
                  <div class="products-list__descr">Магазины бытовой техники и электроники</div>
                  <footer class="products-list__footer">до<span> 7 %</span></footer></a><a class="products-list__item" href="">
                  <div class="products-list__img"><img src="img/partners/lukoil.jpg" alt=""></div>
                  <div class="products-list__name">Лукойл</div>
                  <div class="products-list__descr">Сеть АЗС</div>
                  <footer class="products-list__footer">до<span> 25 %</span></footer></a><a class="products-list__item" href="">
                  <div class="products-list__img"><img src="img/partners/aeroflot.jpg" alt=""></div>
                  <div class="products-list__name">Аэрофлот</div>
                  <div class="products-list__descr">Авиакомпания - лидер авиаперевозок в России</div>
                  <footer class="products-list__footer">до<span> 15 %</span></footer></a><a class="products-list__item" href="">
                  <div class="products-list__img"><img src="img/partners/technopark.jpg" alt=""></div>
                  <div class="products-list__name">Технопарк</div>
                  <div class="products-list__descr">Магазины бытовой техники и электроники</div>
                  <footer class="products-list__footer">до<span> 7 %</span></footer></a><a class="products-list__item" href="">
                  <div class="products-list__img"><img src="img/partners/lukoil.jpg" alt=""></div>
                  <div class="products-list__name">Лукойл</div>
                  <div class="products-list__descr">Сеть АЗС</div>
                  <footer class="products-list__footer">до<span> 25 %</span></footer></a><a class="products-list__item" href="">
                  <div class="products-list__img"><img src="img/partners/aeroflot.jpg" alt=""></div>
                  <div class="products-list__name">Аэрофлот</div>
                  <div class="products-list__descr">Авиакомпания - лидер авиаперевозок в России</div>
                  <footer class="products-list__footer">до<span> 15 %</span></footer></a><a class="products-list__item" href="">
                  <div class="products-list__img"><img src="img/partners/technopark.jpg" alt=""></div>
                  <div class="products-list__name">Технопарк</div>
                  <div class="products-list__descr">Магазины бытовой техники и электроники</div>
                  <footer class="products-list__footer">до<span> 7 %</span></footer></a><a class="products-list__item" href="">
                  <div class="products-list__img"><img src="img/partners/lukoil.jpg" alt=""></div>
                  <div class="products-list__name">Лукойл</div>
                  <div class="products-list__descr">Сеть АЗС</div>
                  <footer class="products-list__footer">до<span> 25 %</span></footer></a></div>
              <div class="products-list-more center"><a class="btn _loading" href="" data-show-more="partners">показать еще…</a></div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="inner">
          <div class="footer__back" data-arr-up></div>
          <div class="footer-top"><a class="logo-footer" href=""></a>
            <nav class="footer-nav"><a class="footer-nav__item" href="">Об Urban Share</a><a class="footer-nav__item" href="">Получить скидки</a><a class="footer-nav__item" href="">Заработать</a><a class="footer-nav__item _pdf" href="">
                <div class="icon"><img src="img/pdf.svg" alt=""></div><span>Правила Участия в Urban Share</span></a></nav>
            <div class="footer-soc"><a class="footer-soc__item _vk" href=""></a><a class="footer-soc__item _fb" href=""></a></div>
          </div>
          <div class="footer-bottom">
            <div class="footer-bottom__block">
              <p><a href="">Политика</a> и <a href="">соглашение</a> на обработку персональных данных.
              </p>
              <p>Материалы на данном сайте носят информационный характер и не являются публичной офертой, определяемой положениями статьи 437 Гражданского кодекса РФ.</p>
            </div>
            <div class="footer-bottom__block">
              <p>© Urban Group, 2017</p>
              <p><a class="logo-gray" href=""></a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div style="display: none;">
      <div class="popup-form" id="form-register">
        <div class="popup-form__tlt">Регистрация</div>
        <form class="form" action="">
          <div class="form__step">
            <input class="form__inp" type="text" name="register_sec-name" placeholder="Фамилия" required>
          </div>
          <div class="form__step">
            <input class="form__inp" type="text" name="register_name" placeholder="Имя" required>
          </div>
          <div class="form__step">
            <input class="form__inp" type="text" name="register_third-name" placeholder="Отчество">
          </div>
          <div class="form__step">
            <input class="form__inp" type="text" name="register_address" placeholder="Адрес">
          </div>
          <div class="form__step">
            <input class="form__inp" type="tel" name="register_phone" placeholder="Телефон" required data-phone>
          </div>
          <div class="form__step">
            <input class="form__inp" type="email" name="register_email" placeholder="Электронная почта" required>
          </div>
          <div class="form__step">
            <label class="agreement">
              <input type="checkbox" name="register_agreement" checked required><span>Я согласен(на) и принимаю <a href="">правила участия в Urban Share.</a> Ознакомлен с <a href="">Политикой и соглашением</a> на обработку персональных данных.</span>
            </label>
          </div>
          <div class="form__step">
            <input class="btn _full" type="submit" value="Зарегистрироваться">
          </div>
        </form>
      </div>
      <div class="popup-form" id="form-partner">
        <div class="popup-form__tlt">Заявка на партнерство</div>
        <form class="form" action="">
          <div class="form__step">
            <input class="form__inp" type="text" name="partner_company" placeholder="Наименование компании" required>
          </div>
          <div class="form__step">
            <input class="form__inp" type="text" name="partner_site" placeholder="Ссылка на сайт компании" required>
          </div>
          <div class="form__step">
            <select data-custom-select>
              <option value="0" disabled selected>Тип товара или услуг</option>
              <option value="product_type[0]">Услуги</option>
              <option value="product_type[1]">Одежда и обувь</option>
              <option value="product_type[2]">Мебель и ремонт</option>
              <option value="product_type[3]">Детские товары</option>
              <option value="product_type[4]">Здоровье и красота</option>
              <option value="product_type[5]">Мебель и ремонт</option>
            </select>
          </div>
          <div class="form__step">
            <input class="form__inp" type="text" name="partner_company" placeholder="Адрес">
          </div>
          <div class="form__step">
            <input class="form__inp" type="tel" name="partner_phone" placeholder="Телефон" required data-phone>
          </div>
          <div class="form__step">
            <input class="form__inp" type="email" name="partner_email" placeholder="Электронная почта" required>
          </div>
          <div class="form__step">
            <label class="agreement">
              <input type="checkbox" name="partner_agreement" checked required><span>Я согласен(на) и принимаю <a href="">правила участия в Urban Share.</a> Ознакомлен с <a href="">Политикой и соглашением</a> на обработку персональных данных.</span>
            </label>
          </div>
          <div class="form__step">
            <input class="btn _full" type="submit" value="Отправить заявку">
          </div>
        </form>
      </div>
      <div class="popup-form" id="form-cabinet-enter">
        <div class="popup-form__tlt">Вход в личный кабинет</div>
        <form class="form" action="">
          <div class="form__step">
            <textarea class="form__txtarea" name="partner_company" data-placeholder placeholder="Электронная почта 
или номер мобильного телефона" required></textarea>
          </div>
          <div class="form__step">
            <input class="form__inp" type="password" name="partner_site" placeholder="Пароль" required>
          </div>
          <div class="form__step">
            <input class="btn _full" type="submit" value="Войти">
            <div class="center"><a href="">Забыли пароль?</a></div>
          </div>
        </form>
      </div>
      <div class="popup-form" id="form-call-order">
        <div class="popup-form__tlt">Заказать звонок</div>
        <form class="form" action="">
          <div class="form__step">
            <input class="form__inp" type="tel" name="order_phone" placeholder="Телефон" required data-phone>
          </div>
          <div class="form__step">
            <label class="agreement">
              <input type="checkbox" name="partner_agreement" checked required><span>Я согласен(на) и принимаю <a href="">правила участия в Urban Share.</a> Ознакомлен с <a href="">Политикой и соглашением</a> на обработку персональных данных.</span>
            </label>
          </div>
          <div class="form__step">
            <input class="btn _full" type="submit" value="Позвоните мне">
          </div>
        </form>
      </div>
      <div class="popup-form" id="form-pass-remind">
        <div class="popup-form__tlt">Восстановление пароля</div>
        <form class="form" action="">
          <div class="form__step">
            <textarea class="form__txtarea" name="partner_company" data-placeholder placeholder="Электронная почта 
или номер мобильного телефона" required></textarea>
          </div>
          <div class="form__step">
            <input class="btn _full" type="submit" value="Позвоните мне">
          </div>
        </form>
      </div>
      <div class="popup-form _cards" id="cards-available">
        <div class="popup-cards">
          <div class="popup-cards__current">Ваша карта: «Классическая»</div>
          <div class="popup-cards__tlt">Как получить дополнительные привилегии и скидки:</div>
          <div class="popup-cards-list">
            <div class="popup-cards-list__item popup-card">
              <div class="popup-card__part">
                <div class="popup-card__tlt">Серебряная карта</div>
                <div class="popup-card__type-mob">
                  <div class="discount _authed _silver"><span class="discount__inner">до 15 %</span></div>
                </div>
                <div class="popup-card-get">
                  <div class="popup-card-get__item"><span>Способ №1:</span><a href="">Рекомендуйте друга или знакомого</a></div>
                  <div class="popup-card-get__item"><span>Способ №2:</span><a href="">Посетите офис продаж</a></div>
                </div>
              </div>
              <div class="popup-card__part">
                <div class="card-type">
                  <header class="card-type__header card-type-header">
                    <div class="card-type-header__item _benefits" data-tlt="ваша выгода до">150 000 ₽<span>/год</span></div>
                    <div class="card-type-header__item _discount" data-tlt="скидки до">15 %</div>
                  </header>
                  <div class="card-type__img"><img src="img/cards/silver.jpg" alt=""></div>
                </div>
              </div>
            </div>
            <div class="popup-cards-list__item popup-card">
              <div class="popup-card__part">
                <div class="popup-card__tlt">Серебряная карта</div>
                <div class="popup-card__type-mob">
                  <div class="discount _authed _gold"><span class="discount__inner">до 25 %</span></div>
                </div>
                <div class="popup-card-get">
                  <div class="popup-card-get__item"><span>Способ №1:</span><a href="">Совершите успешную рекомендацию</a></div>
                  <div class="popup-card-get__item"><span>Способ №2:</span><a href="">Купите квартиру в Urban Group</a></div>
                </div>
              </div>
              <div class="popup-card__part">
                <div class="card-type">
                  <header class="card-type__header card-type-header">
                    <div class="card-type-header__item _benefits" data-tlt="ваша выгода до">250 000 ₽<span>/год</span></div>
                    <div class="card-type-header__item _discount" data-tlt="скидки до">25 %</div>
                  </header>
                  <div class="card-type__img"><img src="img/cards/gold.jpg" alt=""></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Preloader Preloader-active" id="pagePreloader"></div>
    <script src="js/vendor.js"></script>
    <script src="js/common.js"></script>
  </body>
</html>

src/templates/sale.pug
extends layout

block vars
    - var title = "Главная"

block header
    include tpl/header-login

block content
    .content
        .page-header._sale(style="background-image: url('img/background/bg-image_1.jpg')")
            .container
                .inner
                    .page-header__inner
                        div.page-header__block
                            .logo-white
                        div.page-header__block
                            h1 Получай скидки
                            p Вступайте в программу Urban Share и<br> совершайте выгодные покупки со скидками до 25%!
                        div.page-header__block
                            a(href="").btn._full ПРИСОЕДЕНИТЬСЯ

        .container
            .inner
                section.section._white
                    h3 Покупки с Urban Share еще выгоднее!
                    .tlt-descr URBAN SHARE — это новые возможности для единомышленников Urban Group.<br> Качество жизни вместе с нами, выгодные покупки популярных брендов<br> и сервис от компаний-партнеров.

                    .info-block
                        .info-block__tlt Три простых шага, как получить скидки у наших партнеров

                        .tripple
                            .tripple__block
                                .tripple__icon._card
                                .tripple__tlt Оформите карту<br> Urban Share

                            .tripple__block
                                .tripple__icon._point
                                .tripple__tlt Выбирайте партнеров из разных категорий

                            .tripple__block
                                .tripple__icon._gift
                                .tripple__tlt Получайте выгодные спецпредложения

                section.section
                    h2 Карты Urban Share
                    .tlt-descr Совершайте покупки по карте Urban Share и получайте скидки до 25%

                    .slider-tabs-mob
                        .slider-tabs-mob__item._active Классическая
                        .slider-tabs-mob__item Серебряная
                        .slider-tabs-mob__item Золотая

                    .slider(data-slider)
                        .slider__item
                            .card-type-wrapper
                                .card-type-wrapper__tlt Классическая карта

                                .card-type
                                    header.card-type__header.card-type-header
                                        .card-type-header__item._benefits(data-tlt="ваша выгода до") 90 000 ₽
                                            span /год
                                        .card-type-header__item._discount(data-tlt="скидки до") 7 %

                                    .card-type__img
                                        img(src="img/cards/classic.jpg", alt="")

                                    .card-type__descr Для всех посетителей сайта, в декабре 2017 года

                        .slider__item
                            .card-type-wrapper
                                .card-type-wrapper__tlt Классическая карта

                                .card-type
                                    header.card-type__header.card-type-header
                                        .card-type-header__item._benefits(data-tlt="ваша выгода до") 150 000 ₽
                                            span /год
                                        .card-type-header__item._discount(data-tlt="скидки до") 15 %

                                    .card-type__img
                                        img(src="img/cards/gold.jpg", alt="")

                                    .card-type__descr В офисах продаж<br> Жилых комплексов Urban Group

                        .slider__item
                            .card-type-wrapper
                                .card-type-wrapper__tlt Классическая карта

                                .card-type
                                    header.card-type__header.card-type-header
                                        .card-type-header__item._benefits(data-tlt="ваша выгода до") 290 000 ₽
                                            span /год
                                        .card-type-header__item._discount(data-tlt="скидки до") 25 %

                                    .card-type__img
                                        img(src="img/cards/silver.jpg", alt="")

                                    .card-type__descr При покупке квартиры в Жилом комплексе Urban Group

                    .get-card
                        .get-card__tlt Используйте Вашу карту Urban Share при оплате услуг наших партнеров и для Вас будут действовать специальные скидки и акции.
                        p.center
                            a(href="").btn._full Получить карту

                section.section
                    h2 Партнеры URBAN SHARE
                    .tlt-descr Более 1 000 магазинов, ресторанов и услуг

                    .products
                        header.products__header.products-header
                            form(action="", method="post").products-form
                                .products-search
                                    input(type="text", placeholder="Найти...", required, data-products-search).products-search__txt
                                    input(type="submit", value="").products-search__sbmt

                                .product-categories-mob
                                    a(href="", data-categories).btn._gray Категории
                                    .product-categories-mob__popup
                                        header.product-categories-mob__header
                                            span.product-categories-mob__tlt Категории
                                            em.product-categories-mob__close(data-categories-close)

                                        div.product-categories-mob-list
                                            a(href="").product-categories-mob-list__item._active Все партнеры
                                            a(href="").product-categories-mob-list__item Услуги
                                            a(href="").product-categories-mob-list__item Одежда и обувь
                                            a(href="").product-categories-mob-list__item Мебель и ремонт
                                            a(href="").product-categories-mob-list__item Детские товары
                                            a(href="").product-categories-mob-list__item Здоровье и красота
                                            a(href="").product-categories-mob-list__item Мебель и ремонт
                                            a(href="").product-categories-mob-list__item Детские товары
                                            a(href="").product-categories-mob-list__item Здоровье и красота
                                            a(href="").product-categories-mob-list__item Все партнеры
                                            a(href="").product-categories-mob-list__item Услуги
                                            a(href="").product-categories-mob-list__item Одежда и обувь
                                            a(href="").product-categories-mob-list__item Мебель и ремонт
                                            a(href="").product-categories-mob-list__item Детские товары
                                            a(href="").product-categories-mob-list__item Здоровье и красота
                                            a(href="").product-categories-mob-list__item Мебель и ремонт
                                            a(href="").product-categories-mob-list__item Детские товары
                                            a(href="").product-categories-mob-list__item Здоровье и красота

                                .products-categories
                                    label.products-categories__lbl
                                        input(type="checkbox", name="category", value="category[0]", checked).products-categories__inp
                                        span.products-categories__name Все партнеры

                                    label.products-categories__lbl
                                        input(type="checkbox", name="category", value="category[1]").products-categories__inp
                                        span.products-categories__name Электроника

                                    label.products-categories__lbl
                                        input(type="checkbox", name="category", value="category[2]").products-categories__inp
                                        span.products-categories__name Мебель и ремонт

                                    label.products-categories__lbl
                                        input(type="checkbox", name="category", value="category[3]").products-categories__inp
                                        span.products-categories__name Одежда и обувь

                                    label.products-categories__lbl
                                        input(type="checkbox", name="category", value="category[4]").products-categories__inp
                                        span.products-categories__name Продукты

                                    label.products-categories__lbl
                                        input(type="checkbox", name="category", value="category[5]").products-categories__inp
                                        span.products-categories__name Путешествия

                                    label.products-categories__lbl
                                        input(type="checkbox", name="category", value="category[6]").products-categories__inp
                                        span.products-categories__name Авто и запчасти

                                    label.products-categories__lbl
                                        input(type="checkbox", name="category", value="category[7]").products-categories__inp
                                        span.products-categories__name Ювелирные изделия

                                    label.products-categories__lbl
                                        input(type="checkbox", name="category", value="category[8]").products-categories__inp
                                        span.products-categories__name Здоровье и красота

                                    label.products-categories__lbl
                                        input(type="checkbox", name="category", value="category[9]").products-categories__inp
                                        span.products-categories__name Товары для дома

                                    label.products-categories__lbl
                                        input(type="checkbox", name="category", value="category[10]").products-categories__inp
                                        span.products-categories__name Образование

                                    label.products-categories__lbl
                                        input(type="checkbox", name="category", value="category[11]").products-categories__inp
                                        span.products-categories__name Туризм и авиабилеты

                                    label.products-categories__lbl
                                        input(type="checkbox", name="category", value="category[12]").products-categories__inp
                                        span.products-categories__name страхование

                                    label.products-categories__lbl
                                        input(type="checkbox", name="category", value="category[13]").products-categories__inp
                                        span.products-categories__name Развлечения

                                    label.products-categories__lbl
                                        input(type="checkbox", name="category", value="category[14]").products-categories__inp
                                        span.products-categories__name Рестораны

                                    label.products-categories__lbl
                                        input(type="checkbox", name="category", value="category[15]").products-categories__inp
                                        span.products-categories__name Детские товары

                        .products-list
                            a(href="").products-list__item
                                .products-list__name Стать партнером
                                .products-list__descr У вас есть желание увеличить продажи вашей компании — станьте партнером программы Urban Share

                            a(href="").products-list__item
                                .products-list__img
                                    img(src="img/partners/aeroflot.jpg", alt="")
                                .products-list__name Аэрофлот
                                .products-list__descr Авиакомпания - лидер авиаперевозок в России

                                footer.products-list__footer до
                                    span= ' 15 %'

                            a(href="").products-list__item
                                .products-list__img
                                    img(src="img/partners/technopark.jpg", alt="")
                                .products-list__name Технопарк
                                .products-list__descr Магазины бытовой техники и электроники

                                footer.products-list__footer до
                                    span= ' 7 %'

                            a(href="").products-list__item
                                .products-list__img
                                    img(src="img/partners/lukoil.jpg", alt="")
                                .products-list__name Лукойл
                                .products-list__descr Сеть АЗС

                                footer.products-list__footer до
                                    span= ' 25 %'

                            a(href="").products-list__item
                                .products-list__img
                                    img(src="img/partners/aeroflot.jpg", alt="")
                                .products-list__name Аэрофлот
                                .products-list__descr Авиакомпания - лидер авиаперевозок в России

                                footer.products-list__footer до
                                    span= ' 15 %'

                            a(href="").products-list__item
                                .products-list__img
                                    img(src="img/partners/technopark.jpg", alt="")
                                .products-list__name Технопарк
                                .products-list__descr Магазины бытовой техники и электроники

                                footer.products-list__footer до
                                    span= ' 7 %'

                            a(href="").products-list__item
                                .products-list__img
                                    img(src="img/partners/lukoil.jpg", alt="")
                                .products-list__name Лукойл
                                .products-list__descr Сеть АЗС

                                footer.products-list__footer до
                                    span= ' 25 %'

                            a(href="").products-list__item
                                .products-list__img
                                    img(src="img/partners/aeroflot.jpg", alt="")
                                .products-list__name Аэрофлот
                                .products-list__descr Авиакомпания - лидер авиаперевозок в России

                                footer.products-list__footer до
                                    span= ' 15 %'

                            a(href="").products-list__item
                                .products-list__img
                                    img(src="img/partners/technopark.jpg", alt="")
                                .products-list__name Технопарк
                                .products-list__descr Магазины бытовой техники и электроники

                                footer.products-list__footer до
                                    span= ' 7 %'

                            a(href="").products-list__item
                                .products-list__img
                                    img(src="img/partners/lukoil.jpg", alt="")
                                .products-list__name Лукойл
                                .products-list__descr Сеть АЗС

                                footer.products-list__footer до
                                    span= ' 25 %'

                        .products-list-more.center
                            a(href="", data-show-more="partners").btn._loading показать еще…

block page_bottom
