src/templates/tpl/footer.pug
footer.footer
    div.container
        div.inner
            .footer__back(data-arr-up)
            div.footer-top
                a(href="").logo-footer

                nav.footer-nav
                    a(href="").footer-nav__item Об Urban Share
                    a(href="").footer-nav__item Получить скидки
                    a(href="").footer-nav__item Заработать
                    a(href="").footer-nav__item._pdf
                        .icon
                            img(src="img/pdf.svg", alt="")
                        span Правила Участия в Urban Share

                div.footer-soc
                    a(href="").footer-soc__item._vk
                    a(href="").footer-soc__item._fb

            div.footer-bottom
                div.footer-bottom__block
                    p
                        a(href="") Политика
                        =' и '
                        a(href="") соглашение
                        =' на обработку персональных данных.'

                    p Материалы на данном сайте носят информационный характер и не являются публичной офертой, определяемой положениями статьи 437 Гражданского кодекса РФ.

                div.footer-bottom__block
                    p © Urban Group, 2017
                    p
                        a(href="").logo-gray

build/tpl/footer.html

<footer class="footer">
  <div class="container">
    <div class="inner">
      <div class="footer__back" data-arr-up="data-arr-up"></div>
      <div class="footer-top"><a class="logo-footer" href=""></a>
        <nav class="footer-nav"><a class="footer-nav__item" href="">Об Urban Share</a><a class="footer-nav__item" href="">Получить скидки</a><a class="footer-nav__item" href="">Заработать</a><a class="footer-nav__item _pdf" href="">
            <div class="icon"><img src="img/pdf.svg" alt=""/></div><span>Правила Участия в Urban Share</span></a></nav>
        <div class="footer-soc"><a class="footer-soc__item _vk" href=""></a><a class="footer-soc__item _fb" href=""></a></div>
      </div>
      <div class="footer-bottom">
        <div class="footer-bottom__block">
          <p><a href="">Политика</a> и <a href="">соглашение</a> на обработку персональных данных.
          </p>
          <p>Материалы на данном сайте носят информационный характер и не являются публичной офертой, определяемой положениями статьи 437 Гражданского кодекса РФ.</p>
        </div>
        <div class="footer-bottom__block">
          <p>© Urban Group, 2017</p>
          <p><a class="logo-gray" href=""></a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
