build/tpl/header-login.html

<div class="container _header">
  <header class="header _login">
    <div class="header__part"><a class="burger" href="#" data-menu-toggle="data-menu-toggle"></a><a class="logo-header" href=""></a>
      <nav class="header-nav"><a class="header-nav__item _active" href="">Об Urban Share</a><a class="header-nav__item" href="">Получить скидки</a><a class="header-nav__item" href="">Заработать</a></nav>
    </div>
    <div class="header__part">
      <div class="header-cabinet"><a class="phone" href="tel:+74951627740" title="+7 (495) 162-77-40">+7 (495) 162-77-40</a>
        <div class="header-log">
          <div class="header-logout"><a class="header-logout__link" href="" data-notification="8">Константин Иванович</a></div>
        </div><a class="login-btn _logout" href="">Выйти</a>
      </div><a class="logo-urban-group" href=""></a>
    </div>
  </header>
</div>
<nav class="mobile-menu">
  <div class="mobile-menu__inner"><em class="mobile-menu__close" data-menu-close="data-menu-close"></em>
    <div class="mobile-menu__block">
      <div class="mobile-nav"><a class="mobile-nav__link" href="">Об  Urban Share</a><a class="mobile-nav__link" href="">Получить скидки</a><a class="mobile-nav__link" href="">Заработать</a></div>
    </div>
    <div class="mobile-menu__block"><a class="mobile-menu__cabinet header-logout__link" href="" data-notification="8">Личный кабинет</a></div>
    <div class="mobile-menu__block"><a class="phone" href="tel:+74951627740">+7 (495) 162-77-40</a></div>
    <div class="mobile-menu__block"><a class="btn _full" href="">Зарегистрироваться</a></div>
  </div>
</nav>

src/templates/tpl/header-login.pug
div.container._header
    header.header._login
        div.header__part
            a(href="#", data-menu-toggle).burger
            a(href="").logo-header

            nav.header-nav
                a(href="").header-nav__item._active Об Urban Share
                a(href="").header-nav__item Получить скидки
                a(href="").header-nav__item Заработать

        div.header__part
            div.header-cabinet
                a(href="tel:+74951627740", title="+7 (495) 162-77-40").phone +7 (495) 162-77-40
                div.header-log
                    div.header-logout
                        a(href="", data-notification="8").header-logout__link Константин Иванович
                a(href="").login-btn._logout Выйти

            a(href="").logo-urban-group

include mobile-nav
