build/tpl/mobile-nav.html

<nav class="mobile-menu">
  <div class="mobile-menu__inner"><em class="mobile-menu__close" data-menu-close="data-menu-close"></em>
    <div class="mobile-menu__block">
      <div class="mobile-nav"><a class="mobile-nav__link" href="">Об  Urban Share</a><a class="mobile-nav__link" href="">Получить скидки</a><a class="mobile-nav__link" href="">Заработать</a></div>
    </div>
    <div class="mobile-menu__block"><a class="mobile-menu__cabinet header-logout__link" href="" data-notification="8">Личный кабинет</a></div>
    <div class="mobile-menu__block"><a class="phone" href="tel:+74951627740">+7 (495) 162-77-40</a></div>
    <div class="mobile-menu__block"><a class="btn _full" href="">Зарегистрироваться</a></div>
  </div>
</nav>

src/templates/tpl/mobile-nav.pug
nav.mobile-menu
    .mobile-menu__inner
        em(data-menu-close).mobile-menu__close

        .mobile-menu__block
            .mobile-nav
                a(href="").mobile-nav__link Об  Urban Share
                a(href="").mobile-nav__link Получить скидки
                a(href="").mobile-nav__link Заработать

        .mobile-menu__block
            a(href="", data-notification="8").mobile-menu__cabinet.header-logout__link Личный кабинет

        .mobile-menu__block
            a(href="tel:+74951627740").phone +7 (495) 162-77-40

        .mobile-menu__block
            a(href="").btn._full Зарегистрироваться
