build/tpl/popups.html

<div style="display: none;">
  <div class="popup-form" id="form-register">
    <div class="popup-form__tlt">Регистрация</div>
    <form class="form" action="">
      <div class="form__step">
        <input class="form__inp" type="text" name="register_sec-name" placeholder="Фамилия" required="required"/>
      </div>
      <div class="form__step">
        <input class="form__inp" type="text" name="register_name" placeholder="Имя" required="required"/>
      </div>
      <div class="form__step">
        <input class="form__inp" type="text" name="register_third-name" placeholder="Отчество"/>
      </div>
      <div class="form__step">
        <input class="form__inp" type="text" name="register_address" placeholder="Адрес"/>
      </div>
      <div class="form__step">
        <input class="form__inp" type="tel" name="register_phone" placeholder="Телефон" required="required" data-phone="data-phone"/>
      </div>
      <div class="form__step">
        <input class="form__inp" type="email" name="register_email" placeholder="Электронная почта" required="required"/>
      </div>
      <div class="form__step">
        <label class="agreement">
          <input type="checkbox" name="register_agreement" checked="checked" required="required"/><span>Я согласен(на) и принимаю <a href="">правила участия в Urban Share.</a> Ознакомлен с <a href="">Политикой и соглашением</a> на обработку персональных данных.</span>
        </label>
      </div>
      <div class="form__step">
        <input class="btn _full" type="submit" value="Зарегистрироваться"/>
      </div>
    </form>
  </div>
  <div class="popup-form" id="form-partner">
    <div class="popup-form__tlt">Заявка на партнерство</div>
    <form class="form" action="">
      <div class="form__step">
        <input class="form__inp" type="text" name="partner_company" placeholder="Наименование компании" required="required"/>
      </div>
      <div class="form__step">
        <input class="form__inp" type="text" name="partner_site" placeholder="Ссылка на сайт компании" required="required"/>
      </div>
      <div class="form__step">
        <select data-custom-select="data-custom-select">
          <option value="0" disabled="disabled" selected="selected">Тип товара или услуг</option>
          <option value="product_type[0]">Услуги</option>
          <option value="product_type[1]">Одежда и обувь</option>
          <option value="product_type[2]">Мебель и ремонт</option>
          <option value="product_type[3]">Детские товары</option>
          <option value="product_type[4]">Здоровье и красота</option>
          <option value="product_type[5]">Мебель и ремонт</option>
        </select>
      </div>
      <div class="form__step">
        <input class="form__inp" type="text" name="partner_company" placeholder="Адрес"/>
      </div>
      <div class="form__step">
        <input class="form__inp" type="tel" name="partner_phone" placeholder="Телефон" required="required" data-phone="data-phone"/>
      </div>
      <div class="form__step">
        <input class="form__inp" type="email" name="partner_email" placeholder="Электронная почта" required="required"/>
      </div>
      <div class="form__step">
        <label class="agreement">
          <input type="checkbox" name="partner_agreement" checked="checked" required="required"/><span>Я согласен(на) и принимаю <a href="">правила участия в Urban Share.</a> Ознакомлен с <a href="">Политикой и соглашением</a> на обработку персональных данных.</span>
        </label>
      </div>
      <div class="form__step">
        <input class="btn _full" type="submit" value="Отправить заявку"/>
      </div>
    </form>
  </div>
  <div class="popup-form" id="form-cabinet-enter">
    <div class="popup-form__tlt">Вход в личный кабинет</div>
    <form class="form" action="">
      <div class="form__step">
        <textarea class="form__txtarea" name="partner_company" data-placeholder="data-placeholder" placeholder="Электронная почта 
или номер мобильного телефона" required="required"></textarea>
      </div>
      <div class="form__step">
        <input class="form__inp" type="password" name="partner_site" placeholder="Пароль" required="required"/>
      </div>
      <div class="form__step">
        <input class="btn _full" type="submit" value="Войти"/>
        <div class="center"><a href="">Забыли пароль?</a></div>
      </div>
    </form>
  </div>
  <div class="popup-form" id="form-call-order">
    <div class="popup-form__tlt">Заказать звонок</div>
    <form class="form" action="">
      <div class="form__step">
        <input class="form__inp" type="tel" name="order_phone" placeholder="Телефон" required="required" data-phone="data-phone"/>
      </div>
      <div class="form__step">
        <label class="agreement">
          <input type="checkbox" name="partner_agreement" checked="checked" required="required"/><span>Я согласен(на) и принимаю <a href="">правила участия в Urban Share.</a> Ознакомлен с <a href="">Политикой и соглашением</a> на обработку персональных данных.</span>
        </label>
      </div>
      <div class="form__step">
        <input class="btn _full" type="submit" value="Позвоните мне"/>
      </div>
    </form>
  </div>
  <div class="popup-form" id="form-pass-remind">
    <div class="popup-form__tlt">Восстановление пароля</div>
    <form class="form" action="">
      <div class="form__step">
        <textarea class="form__txtarea" name="partner_company" data-placeholder="data-placeholder" placeholder="Электронная почта 
или номер мобильного телефона" required="required"></textarea>
      </div>
      <div class="form__step">
        <input class="btn _full" type="submit" value="Позвоните мне"/>
      </div>
    </form>
  </div>
  <div class="popup-form _cards" id="cards-available">
    <div class="popup-cards">
      <div class="popup-cards__current">Ваша карта: «Классическая»</div>
      <div class="popup-cards__tlt">Как получить дополнительные привилегии и скидки:</div>
      <div class="popup-cards-list">
        <div class="popup-cards-list__item popup-card">
          <div class="popup-card__part">
            <div class="popup-card__tlt">Серебряная карта</div>
            <div class="popup-card__type-mob">
              <div class="discount _authed _silver"><span class="discount__inner">до 15 %</span></div>
            </div>
            <div class="popup-card-get">
              <div class="popup-card-get__item"><span>Способ №1:</span><a href="">Рекомендуйте друга или знакомого</a></div>
              <div class="popup-card-get__item"><span>Способ №2:</span><a href="">Посетите офис продаж</a></div>
            </div>
          </div>
          <div class="popup-card__part">
            <div class="card-type">
              <header class="card-type__header card-type-header">
                <div class="card-type-header__item _benefits" data-tlt="ваша выгода до">150 000 ₽<span>/год</span></div>
                <div class="card-type-header__item _discount" data-tlt="скидки до">15 %</div>
              </header>
              <div class="card-type__img"><img src="img/cards/silver.jpg" alt=""/></div>
            </div>
          </div>
        </div>
        <div class="popup-cards-list__item popup-card">
          <div class="popup-card__part">
            <div class="popup-card__tlt">Серебряная карта</div>
            <div class="popup-card__type-mob">
              <div class="discount _authed _gold"><span class="discount__inner">до 25 %</span></div>
            </div>
            <div class="popup-card-get">
              <div class="popup-card-get__item"><span>Способ №1:</span><a href="">Совершите успешную рекомендацию</a></div>
              <div class="popup-card-get__item"><span>Способ №2:</span><a href="">Купите квартиру в Urban Group</a></div>
            </div>
          </div>
          <div class="popup-card__part">
            <div class="card-type">
              <header class="card-type__header card-type-header">
                <div class="card-type-header__item _benefits" data-tlt="ваша выгода до">250 000 ₽<span>/год</span></div>
                <div class="card-type-header__item _discount" data-tlt="скидки до">25 %</div>
              </header>
              <div class="card-type__img"><img src="img/cards/gold.jpg" alt=""/></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

src/templates/tpl/popups.pug
div(style="display: none")
    div#form-register.popup-form
        .popup-form__tlt Регистрация

        form(action="").form
            .form__step
                input(type="text", name="register_sec-name", placeholder="Фамилия", required).form__inp

            .form__step
                input(type="text", name="register_name", placeholder="Имя", required).form__inp

            .form__step
                input(type="text", name="register_third-name", placeholder="Отчество").form__inp

            .form__step
                input(type="text", name="register_address", placeholder="Адрес").form__inp

            .form__step
                input(type="tel", name="register_phone", placeholder="Телефон", required, data-phone).form__inp

            .form__step
                input(type="email", name="register_email", placeholder="Электронная почта", required).form__inp

            .form__step
                label.agreement
                    input(type="checkbox", name="register_agreement", checked, required)
                    span Я согласен(на) и принимаю
                        = ' '
                        a(href="") правила участия в Urban Share.
                        = ' Ознакомлен с '
                        a(href="") Политикой и соглашением
                        = ' на обработку персональных данных.'

            .form__step
                input(type="submit", value="Зарегистрироваться").btn._full

    div#form-partner.popup-form
        .popup-form__tlt Заявка на партнерство

        form(action="").form
            .form__step
                input(type="text", name="partner_company", placeholder="Наименование компании", required).form__inp

            .form__step
                input(type="text", name="partner_site", placeholder="Ссылка на сайт компании", required).form__inp

            .form__step
                select(data-custom-select)
                    option(value="0", disabled, selected) Тип товара или услуг
                    option(value="product_type[0]") Услуги
                    option(value="product_type[1]") Одежда и обувь
                    option(value="product_type[2]") Мебель и ремонт
                    option(value="product_type[3]") Детские товары
                    option(value="product_type[4]") Здоровье и красота
                    option(value="product_type[5]") Мебель и ремонт

            .form__step
                input(type="text", name="partner_company", placeholder="Адрес").form__inp

            .form__step
                input(type="tel", name="partner_phone", placeholder="Телефон", required, data-phone).form__inp

            .form__step
                input(type="email", name="partner_email", placeholder="Электронная почта", required).form__inp

            .form__step
                label.agreement
                    input(type="checkbox", name="partner_agreement", checked, required)
                    span Я согласен(на) и принимаю
                        = ' '
                        a(href="") правила участия в Urban Share.
                        = ' Ознакомлен с '
                        a(href="") Политикой и соглашением
                        = ' на обработку персональных данных.'

            .form__step
                input(type="submit", value="Отправить заявку").btn._full

    div#form-cabinet-enter.popup-form
        .popup-form__tlt Вход в личный кабинет

        form(action="").form
            .form__step
                textarea(name="partner_company", data-placeholder, placeholder="Электронная почта \nили номер мобильного телефона", required).form__txtarea

            .form__step
                input(type="password", name="partner_site", placeholder="Пароль", required).form__inp

            .form__step
                input(type="submit", value="Войти").btn._full
                .center
                    a(href="") Забыли пароль?

    div#form-call-order.popup-form
        .popup-form__tlt Заказать звонок

        form(action="").form
            .form__step
                input(type="tel", name="order_phone", placeholder="Телефон", required, data-phone).form__inp

            .form__step
                label.agreement
                    input(type="checkbox", name="partner_agreement", checked, required)
                    span Я согласен(на) и принимаю
                        = ' '
                        a(href="") правила участия в Urban Share.
                        = ' Ознакомлен с '
                        a(href="") Политикой и соглашением
                        = ' на обработку персональных данных.'

            .form__step
                input(type="submit", value="Позвоните мне").btn._full

    div#form-pass-remind.popup-form
        .popup-form__tlt Восстановление пароля

        form(action="").form
            .form__step
                textarea(name="partner_company", data-placeholder, placeholder="Электронная почта \nили номер мобильного телефона", required).form__txtarea

            .form__step
                input(type="submit", value="Позвоните мне").btn._full

    div#cards-available.popup-form._cards
        div.popup-cards
            div.popup-cards__current Ваша карта: «Классическая»
            div.popup-cards__tlt Как получить дополнительные привилегии и скидки:

            div.popup-cards-list
                div.popup-cards-list__item.popup-card
                    div.popup-card__part
                        div.popup-card__tlt Серебряная карта

                        div.popup-card__type-mob
                            div.discount._authed._silver
                                span.discount__inner до 15 %

                        div.popup-card-get
                            div.popup-card-get__item
                                span Способ №1:
                                a(href="") Рекомендуйте друга или знакомого

                            div.popup-card-get__item
                                span Способ №2:
                                a(href="") Посетите офис продаж

                    div.popup-card__part
                        .card-type
                            header.card-type__header.card-type-header
                                .card-type-header__item._benefits(data-tlt="ваша выгода до") 150 000 ₽
                                    span /год
                                .card-type-header__item._discount(data-tlt="скидки до") 15 %

                            .card-type__img
                                img(src="img/cards/silver.jpg", alt="")

                div.popup-cards-list__item.popup-card
                    div.popup-card__part
                        div.popup-card__tlt Серебряная карта

                        div.popup-card__type-mob
                            div.discount._authed._gold
                                span.discount__inner до 25 %

                        div.popup-card-get
                            div.popup-card-get__item
                                span Способ №1:
                                a(href="") Совершите успешную рекомендацию

                            div.popup-card-get__item
                                span Способ №2:
                                a(href="") Купите квартиру в Urban Group

                    div.popup-card__part
                        .card-type
                            header.card-type__header.card-type-header
                                .card-type-header__item._benefits(data-tlt="ваша выгода до") 250 000 ₽
                                    span /год
                                .card-type-header__item._discount(data-tlt="скидки до") 25 %

                            .card-type__img
                                img(src="img/cards/gold.jpg", alt="")
