build/includes/chunks/order_modal.html

<div id="orderModal" style="display:none;">
  <div class="FormModal">
    <h4 class="FormModal_title">Здравствуйте!</h4>
    <div class="FormModal_desc">Введите ваши контактные данные, наш менеджер свяжется с Вами в ближайшее время и ответит на интересующие вас вопросы.</div>
    <div class="FormModal_form">
      <div class="FormModal_row">
        <label class="FormModal_lbl"> <span class="FormModal_lblText">Телефон <small class="FormModal_redStar">*</small></span>
          <input class="FormModal_inp" type="tel" placeholder="+7 (987) 654-32-10"/>
        </label>
      </div>
      <div class="FormModal_row">
        <label class="FormModal_lbl"> <span class="FormModal_lblText">Имя <small class="FormModal_redStar">*</small></span>
          <input class="FormModal_inp" placeholder="Ваше имя"/>
        </label>
      </div>
      <div class="FormModal_row">
        <label class="FormModal_lbl"> <span class="FormModal_lblText">Email</span>
          <input class="FormModal_inp" type="email" placeholder="example@yourmail.com"/>
        </label>
      </div>
      <div class="FormModal_row FormModal_row-btn">
        <button class="flatModal_submitBtn Btn Btn-block" type="submit">Отправить</button>
      </div>
      <div class="FormModal_hint"><small class="FormModal_redStar">*</small> поля обязательные к заполнению</div>
    </div>
  </div>
</div>

src/templates/includes/chunks/order_modal.pug
#orderModal(style="display:none;")
    .FormModal
        h4.FormModal_title Здравствуйте!
        .FormModal_desc Введите ваши контактные данные, наш менеджер свяжется с Вами в ближайшее время и ответит на интересующие вас вопросы.
        .FormModal_form
            .FormModal_row
                label.FormModal_lbl 
                    span.FormModal_lblText Телефон #[small.FormModal_redStar *]
                    input.FormModal_inp(type="tel" placeholder="+7 (987) 654-32-10")
            .FormModal_row
                label.FormModal_lbl 
                    span.FormModal_lblText Имя #[small.FormModal_redStar *]
                    input.FormModal_inp(placeholder="Ваше имя")
            .FormModal_row
                label.FormModal_lbl 
                    span.FormModal_lblText Email
                    input(type="email" placeholder="example@yourmail.com").FormModal_inp
            .FormModal_row.FormModal_row-btn
               button(type="submit").flatModal_submitBtn.Btn.Btn-block Отправить
            .FormModal_hint #[small.FormModal_redStar *] поля обязательные к заполнению
